body
{
position:relative;
margin:0 auto;
padding:0;
font-size:12px;
color:#000;
line-height:1.2;
color:#555;
}
div,span,textarea,ul,li,dl,dt,dd,label,img,p,h1,h2,h3,h4,h5,h6,h7,h8,h9,h10,table,tr,th,td,em
{
position:relative;
margin:0;
padding:0;
border:0;
font-family:"Microsoft YaHei";
list-style-type:none;
line-height:1.2;
word-wrap:break-word;
box-sizing:border-box;
-moz-box-sizing:border-box;
}
table
{
font-size:12px;
}
h5
{
font-size:12px;
}
input
{
font-family:"Microsoft YaHei";
box-sizing:border-box;
-moz-box-sizing:border-box;
}
select
{
margin:0;
padding:0;
border:1px solid #ccc;
box-sizing:border-box;
-moz-box-sizing:border-box;
background:#fff!important;
}
em
{
font-style:normal;
}
.fLeft
{
float:left!important;
}
.fRight
{
float:right!important;
}
.left
{
text-align:left!important;
}
.right
{
text-align:right!important;
}
.center
{
text-align:center!important;
}
.tCenter
{
text-align:center!important;
}
.border-grey
{
border:1px solid #dedede!important;
}
.border-qian-grey
{
border:1px solid #cfcfcf!important;
}
.border-blue
{
border:1px solid #1d5773!important;
}
.m0
{
margin:0!important;
}
.mt0
{
margin-top:0!important;
}
.ml0
{
margin-left:0!important;
}
.mr0
{
margin-right:0!important;
}
.mb0
{
margin-bottom:0!important;
}
.mt10
{
margin-top:10px!important;
}
.mt15
{
margin-top:15px!important;
}
.mt20
{
margin-top:20px!important;
}
.mt30
{
margin-top:30px!important;
}
.mr10
{
margin-right:10px!important;
}
.mr15
{
margin-right:15px!important;
}
.mr20
{
margin-right:20px!important;
}
.mr30
{
margin-right:30px!important;
}
.mb10
{
margin-bottom:10px!important;
}
.mb15
{
margin-bottom:15px!important;
}
.mb20
{
margin-bottom:20px!important;
}
.mb30
{
margin-bottom:30px!important;
}
.ml10
{
margin-left:10px!important;
}
.ml15
{
margin-left:15px!important;
}
.ml20
{
margin-left:20px!important;
}
.ml30
{
margin-left:30px!important;
}


.p0
{
padding:0!important;
}
.p10
{
padding:10px!important;
}
.pt0
{
padding-top:0!important;
}
.pr0
{
padding-right:0!important;
}
.pb0
{
padding-bottom:0!important;
}
.pl0
{
padding-left:0!important;
}
.pt10
{
padding-top:10px!important;
}
.pt15
{
padding-top:15px!important;
}
.pt20
{
padding-top:20px!important;
}
.pt30
{
padding-top:30px!important;
}
.pr10
{
padding-right:10px!important;
}
.pr15
{
padding-right:15px!important;
}
.pr20
{
padding-right:20px!important;
}
.pr30
{
padding-right:30px!important;
}
.pb10
{
padding-bottom:10px!important;
}
.pb15
{
padding-bottom:15px!important;
}
.pb20
{
padding-bottom:20px!important;
}
.pb30
{
padding-bottom:30px!important;
}
.pl10
{
padding-left:10px!important;
}
.pl15
{
padding-left:15px!important;
}
.pl20
{
padding-left:20px!important;
}
.pl30
{
padding-left:30px!important;
}



a
{
text-decoration:none;
color:#767676;
box-sizing:border-box;
-moz-box-sizing:border-box;
}
.clear
{
clear:both!important;
}
.clear-line
{
clear:both;
width:100%;
height:0;
overflow:hidden;
background:url(../images/main/blank.gif);
}
.width-percent100
{
width:100%!important;
}
.width-percent50
{
width:50%!important;
}
.width-percent35
{
width:35%!important;
}
.height1
{
height:1px!important;
}
.height10
{
height:10px!important;
}
.height20
{
height:20px!important;
}
.height30
{
height:30px!important;
}
.height40
{
height:40px!important;
}
.height50
{
height:50px!important;
}
.font20
{
font-size:20px!important;
}
.bold
{
font-weight:bold!important;
}
.border0
{
border:0!important;
}
.block
{
display:block!important;
}
.none
{
display:none!important;
}
.light-grey
{
color:#c1c1c1;
}
input[type="radio"],input[type="checkbox"]
{
width:13px;
height:13px;
background:none;
border:1px solid #ccc;
}
input[type="text"]
{
outline:none;
color:#767676;
font-size:12px;
}
.all
{
clear:both;
width:100%;
height:auto;
overflow:hidden;
margin:0 auto;
min-width:850px;
}
header
{
clear:both;
width:100%;
height:120px;
z-index:3;
background: url(../images/main/bg7.png) repeat-x,-webkit-gradient(linear, 0 0, 0 100%, from(#1e4b79), to(#080808));
background: url(../images/main/bg7.png) repeat-x,-moz-linear-gradient(top, #1e4b79, #080808);
min-width:850px;
}
header .head-inform
{
width:23%;
height:120px;
float:left;
overflow:hidden;
font-size:60px;
text-shadow:3px 3px 5px #000;
font-weight:bold;
color:#fff;
line-height:120px;
text-align:right;
background:#fff;
overflow:hidden;
background:url(../images/main/logo-new.png) no-repeat 0 0;
margin-right:2%;
}
.login-inform
{
display:inline;
margin:0 10px 0 0;
float:right;
height:auto;
z-index:6;
padding:10px 100px 10px 15px;
color:#fff;
border-left-width:1px;
border-right-width:1px;
border-bottom-width:1px;
border-style:solid;
border-left-color:#444;
border-right-color:#444;
border-bottom-color:#444;
background:-webkit-gradient(linear, 0 0, 0 100%, from(#0d0e11), to(#1d2226));
background:-moz-linear-gradient(top, #0d0e11, #1d2226);
color:#a2b9c2;
white-space:nowrap;
}
.login-name-inform
{
float:right;
margin:5px 0 0 0;
text-align:right;
}
.login-name-inform .act-control
{
clear:both;
display:inline-block;
position:absolute;
width:70px;
padding:5px 0 5px 5px;
background: -webkit-gradient(linear, 0 0, 0 100%, from(#195e89), to(#1f77af));
background:-moz-linear-gradient(top, #195e89, #1f77af);
right:-85px;
top:-6px;
text-align:center;
border:1px solid #069;
cursor:pointer;
color:#b9d4de;
}

.head-cust-inform
{
z-index:1;
cursor:pointer;
}
.head-cust-inform>div
{
clear:both;
position:absolute;
display:none;
right:-10px; 
top:-5px;
}
.head-cust-inform>div h5
{
clear:both;
font-weight:normal;
color:#333;
display:inline-block;
border-left:1px solid #ccc;
border-right:1px solid #ccc;
border-top:1px solid #ccc;
border-radius:4px 4px 0 0;
z-index:1;
padding:5px 10px 5px 10px;
background:#fff;
font-size:12px;
}
.head-cust-inform>div>div
{
clear:both;
display:none;
width:300px;
color:#333;
border:1px solid #ccc;
overflow:hidden;
z-index:0;
margin-top:-1px;
background:#fff;
border-radius:4px 0 4px 4px;
padding:5px 10px 10px 10px;
text-align:left;
box-shadow:-2px -2px 10px #000;
cursor:default;
}
.head-cust-inform>div>div .hci-btn
{
width:100%;
padding-top:8px;
overflow:hidden;
}
.head-cust-inform>div>div .hci-btn a:link,.head-cust-inform>div>div .hci-btn a:visited
{
display:inline-block;
height:25px;
text-align:center;
line-height:25px;
border-radius:3px;
border:1px solid #aaa;
color:#767676;
padding:0 10px 0 10px;
background:-webkit-gradient(linear, 0 0, 0 100%, from(#f3f3f3), to(#dfdfdf));
background:-moz-linear-gradient(top,#f3f3f3,#dfdfdf);
cursor:pointer;
font-size:12px;
}
.head-cust-inform>div>div .hci-btn a:hover
{
background:#6d6d6d;
color:#fff;
}
.head-cust-inform>div>div .hci-btn a.orange:link,.head-cust-inform>div>div .hci-btn a.orange:visited
{
background: -webkit-gradient(linear, 0 0, 0 100%, from(#F8A721), to(#ff6600));
background: -moz-linear-gradient(top,#F8A721,#ff6600);
border: 1px solid #ff6600;
color: #fff;
}
.head-cust-inform>div>div .hci-btn a.orange:hover
{
background: -webkit-gradient(linear, 0 0, 0 100%, from(#ff6600), to(#F8A721));
background: -moz-linear-gradient(top,#ff6600,#F8A721);
}
.head-cust-inform>div>div>div
{
clear:both;
width:100%;
overflow:hidden;
padding:5px 0 0 0;
}
.head-cust-inform>div>div label
{
display:block;
width:70px;
float:left;
line-height:27px;
margin-right:5px;
text-align:left;
}
.head-cust-inform>div>div p
{
float:left;
line-height:27px;
text-align:left;
}






.head-store
{
margin:0 10px 0 10px;
z-index:1;
cursor:pointer;
}
.head-store ul
{
clear:both;
position:absolute;
display:none;
border:1px solid #ccc;
left:-5px; 
top:-5px;
border-radius:4px;
background:#fff;
min-width:100%;
box-shadow:0 0 10px #000;
}
.head-store ul li
{
clear:both;
width:100%;
border-top:1px dotted #dedede;
overflow:hidden;
}
.head-store ul li:first-child
{
border-top:0;
}
.head-store ul li a:link,.head-store ul li a:visited
{
display:inline-block;
width:100%;
padding:5px;
text-align:left;
color:#333;
}
.head-store ul li a:hover
{
background:#dedede;
}
.search-text
{
float:right;
width:140px;
overflow:hidden;
background:#fff;
border:1px solid #ccc;
border-radius:5px;
margin:0 15px 0 0;
}
.search-text input[type="text"]
{
width:110px;
height:18px;
padding:2px 5px 2px 5px;
border:0;
outline:none;
background:none;
}
.search-text a:link,.search-text a:visited
{
clear:both;
position:absolute;
display:block;
width:16px;
height:15px;
background:url(../images/main/set-large.png) no-repeat 0 0;
top:3px;
right:2px;
}
/* menu start*/
dl.ui-nps-menu
{
clear:both;
position:absolute;
width:70%;
height:auto;
font-size:14px;
z-index:3;
top:55px;
left:25%;
min-width:567px;
z-index:5;
}
dl.ui-nps-menu dd
{
display:inline;
width:11%;
float:left;
height:auto;
text-align:center;
z-index:3;
}
dl.ui-nps-menu dd > a:link,
dl.ui-nps-menu dd > a:visited
{
display:block;
width:100%;
box-sizing:border-box;
-moz-box-sizing:border-box;
text-align:center;
background:-webkit-gradient(linear, 0 0, 0 100%, from(#1f77af), to(#124361));
background:-moz-linear-gradient(top, #1f77af, #124361);
color:#b9d4de;
border-left:1px solid #069;
border-top:1px solid #069;
border-bottom:1px solid #069;
z-index:3;
padding:6px 0 8px 0;
box-shadow:0 2px 3px #000;
}
dl.ui-nps-menu dd:first-child > a
{
border-left:0px solid #069;
border-radius:4px 0 0 4px;
}
dl.ui-nps-menu dd:last-child > a
{
border-radius:0 4px 4px 0;
}

dl.ui-nps-menu dd > a:hover
{
background:-webkit-gradient(radial,50% 50%,0,50% 50%,50,from(#1f77af),to(#124361));
background: -moz-radial-gradient(50% 50%, closest-corner, #1f77af, #124361);
}
dl.ui-nps-menu dd > a .icon
{
clear:both;
display:block;
width:100%;
height:45px;
overflow:hidden;
text-align:center;
}
dl.ui-nps-menu ul
{
    clear:both;
    position:absolute;
    display:none;
    box-sizing:border-box;
    height:auto;
    left:0;
    top:80px;
    background:#fff;
    box-shadow:1px 1px 4px #1d5773;
    min-width:100%;
}
dl.ui-nps-menu ul li
{
    clear:both;
    height:auto;
    background:#D9ECFD;
    border-top:1px dotted #6da0b9;
    white-space:nowrap;
}
dl.ui-nps-menu ul li:first-child
{
    border:0;
}
dl.ui-nps-menu ul li a:link,
dl.ui-nps-menu ul li a:visited
{
    display:block;
    padding:5px 20px 5px 8px;
    cursor:pointer;
    text-align:left;
    color:#069;
    font-size:12px;
    white-space:nowrap;
}
dl.ui-nps-menu ul li a:hover
{
    color:#fff;
}
dl.ui-nps-menu ul li .selected
{
    box-sizing:border-box;
    background:-webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0077b3));
    background:-moz-linear-gradient(top, #0088cc, #0077b3);
    color:#fff!important;
}
dl.ui-nps-menu ul li ul
{
    left:98%;
    top:8px;
    z-index:1;
}

dl.ui-nps-menu span.more
{
    clear:both;
    position:absolute;
    right:5px;
    top:5px;
    font-weight:bold;
    color:#0a9be6;
}
/* menu end*/

.icon-home
{
background:url(../images/main/home.png) no-repeat center 0;
}
.icon-product
{
background:url(../images/main/gift.png) no-repeat center 0;
}
.icon-content
{
background:url(../images/main/shoppingbasket.png) no-repeat center 0;
}
.icon-manage
{
background:url(../images/main/pen_marker.png) no-repeat center 0;
}
.icon-order
{
background:url(../images/main/document_tag.png) no-repeat center 0;
}
.icon-do
{
background:url(../images/main/do-img.png) no-repeat center 0;
}

.dash-center
{
clear:both;
width:100%;
padding:10px;
border:1px solid #1d5773;
text-align:center;
font-size:20px;
margin-bottom:10px;
}

.block-system
{
clear:both;
width:200%;
position:absolute;
height:auto;
left:20px;
top:85px;
}
.block-system>div
{
float:left;
display:inline-block;
width:60px;
height:50px;
cursor:pointer;
z-index:9;
margin-right:3px;
background:#76b1d7;
border-radius:5px;
text-align:center;
color:#fff;
font-size:12px;

}
.block-system>div:hover
{
width:80px;
height:70px;
background:-webkit-gradient(linear, 0 0, 0 100%, from(#1f77af), to(#124361));
background:-moz-linear-gradient(top, #1f77af, #124361);
box-shadow:1px 1px 2px #444;
}
.block-system>div:hover span
{
height:38px;
}
.block-system div span
{
clear:both;
display:block;
width:100%;
height:25px;
background-size:20px 20px;
background-repeat:no-repeat;
background-position:center center;
}
.icon-info
{
background-image:url(../images/main/rss_orbalt.png);
}
.icon-write
{
background-image:url(../images/main/paintroller.png);
}



.loading
{
clear:both;
display:none;
position:absolute;
width:100%;
height:100%;
left:20px;
top:0;
z-index:1;
border:1px solid #cfcfcf;
border-radius:0 0 5px 5px;
padding:15px 0 0 0;
background:#fff;
text-align:center;
overflow:hidden;
vertical-align:middle;
}
.loading tr{height:100%;vertical-align:middle;}
.loading div
{
clear:both;
display:inline-block;
margin:0 auto;
overflow:hidden;
padding:20px;
background:#FFC;
border:1px solid #b5902d;
border-radius:10px;
color:#069;
}
.loading h5
{
clear:both;
display:inline-block;
height:50px;
overflow:hidden;
padding:0 0 0 55px;
background:url(../images/main/284.gif) no-repeat 0 center;
line-height:50px;
font-size:15px;
font-weight:bold;
margin:0 auto;
}
.loading p
{
clear:both;
width:270px;
overflow:hidden;
text-align:left;
line-height:1.8;
margin:10px 0 0 0;
color:#9d5400;
}



.content
{
clear:both;
width:100%;
height:auto;
overflow:hidden;
padding:0 20px 20px 20px;
min-width:850px;
}
.table-if
{
width:100%;
height:550px;
box-sizing:border-box;
overflow-x:hidden;
overflow-y:scroll;
border:0;
background:#fff;
border:1px solid #cfcfcf;
border-radius:0 0 5px 5px;
box-shadow:0 0 15px #000;
padding:15px 0 0 0;
}

.inform-person
{
clear:both;
width:100%;
margin:0 0 0 0;
box-sizing:border-box;
}


.inform-person  th
{
text-align:center;
padding:6px 0 6px 0;
background:-webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e8e8e8));
background:-moz-linear-gradient(top, #ffffff, #e8e8e8);
color:#777;
top:expression(document.getElementById("diva").scrollTop-1); 
position:relative; 
}
.inform-person tbody td
{
box-sizing:border-box;
text-align:center;
padding:5px 0 5px 0;
background:#fff;
}
.inform-person tbody .odd td
{
background:#f1f1f1;
}
.inform-person .ui-state-hover td,.inform-person .odd.ui-state-hover td
{
background:#f9f9d4;
}
.inform-person tfoot td
{
box-sizing:border-box;
text-align:center;
padding:15px 0 15px 0;
background:#fff;
margin-top:10px;
}
.ui-loxia-default
{
display:inline;
width:190px;
box-sizing:border-box;
border:1px solid #ccc;
border-radius:3px;
padding:3px;
color:#999;
background:#ededed;
outline:none;
}
.ui-loxia-highlight
{
background:#fff;
}
.ui-loxia-active
{
background:#fff;
}
.loxiaTip
{
z-index:10;
}
.loxiaTip-r .arrow
{
width:10px;
height:12px;
background:url(../images/main/left-point.png) no-repeat 0 0;
float:left;
margin:7px 0 0 0;
z-index:1;
}
.loxiaTip-r .ui-corner-all
{
position:relative;
float:left;
padding:10px;
overflow:hidden;
border:1px solid #dfdfdf;
border-radius:3px;
background:#ededed;
margin:0 0 0 -1px;
}
.ui-loxia-error
{
border:1px solid red;
background:#FBDDDF;
}
.ui-button
{
display:inline-block;
border:1px solid #cecece;
border-radius:3px;
text-align:center;
padding:5px;
color:#767676;
background:-webkit-gradient(linear, 0 0, 0 100%, from(#f3f3f3), to(#dfdfdf));
background:-moz-linear-gradient(top, #f3f3f3, #dfdfdf);
cursor:pointer;
}
.ui-button:hover
{
color:#fff;
background:#6d6d6d;
}

.ui-button.orange
{
background:-webkit-gradient(linear, 0 0, 0 100%, from(#F8A721), to(#ff6600));
background:-moz-linear-gradient(top,#F8A721,#ff6600);
border:1px solid #ff6600;
color:#fff;
}
.ui-button.orange:hover
{
background:-webkit-gradient(linear, 0 0, 0 100%, from(#ff6600), to(#F8A721));
background:-moz-linear-gradient(top,#ff6600,#f8a721);
}
.ui-button.add-button
{
padding:5px 5px 5px 30px;
background:url(../images/main/treeadd.jpg) no-repeat 3px center,-webkit-gradient(linear, 0 0, 0 100%, from(#f3f3f3), to(#dfdfdf));
background:url(../images/main/treeadd.jpg) no-repeat 3px center,-moz-linear-gradient(top, #f3f3f3, #dfdfdf);
}
.ui-button.add-button:hover
{
background:url(../images/main/treeadd.jpg) no-repeat 3px center #6d6d6d;
}
.ui-button.add-button.mini-button
{
padding:5px 5px 5px 30px;
background:url(../images/main/treemini.jpg) no-repeat 3px center,-webkit-gradient(linear, 0 0, 0 100%, from(#f3f3f3), to(#dfdfdf));
background:url(../images/main/treemini.jpg) no-repeat 3px center,-moz-linear-gradient(top, #f3f3f3, #dfdfdf);
}
.ui-button.add-button.mini-button:hover
{
background:url(../images/main/treemini.jpg) no-repeat 3px center #6d6d6d;
}
.ui-button.mail-button
{
padding:5px 5px 5px 25px;
background:url(../images/main/mail.png) no-repeat 3px center,-webkit-gradient(linear, 0 0, 0 100%, from(#f3f3f3), to(#dfdfdf));
background:url(../images/main/mail.png) no-repeat 3px center,-moz-linear-gradient(top, #f3f3f3, #dfdfdf);
}
.ui-button.mail-button:hover
{
background:url(../images/main/mail.png) no-repeat 3px center #6d6d6d;
}
.ui-button.copy-button
{
padding:5px 5px 5px 25px;
background:url(../images/main/document_tag2.png) no-repeat 3px center,-webkit-gradient(linear, 0 0, 0 100%, from(#f3f3f3), to(#dfdfdf));
background:url(../images/main/document_tag2.png) no-repeat 3px center,-moz-linear-gradient(top, #f3f3f3, #dfdfdf);
}
.ui-button.copy-button:hover
{
background:url(../images/main/document_tag2.png) no-repeat 3px center #6d6d6d;
}
input[type="button"][disabled="disabled"]
{
opacity:0.4;
cursor:default!important;
}


.tbl-action-bar
{
text-align:left;
padding:0 0 0 10px;
margin:0 0 -10px 0;
}
.ui-title1
{
clear:both;
width:100%;
padding:5px;
text-align:left;
font-weight:bold;
font-size:14px;
color:#069;
border-bottom:1px solid #006799;
margin:0 0 5px 0;
}
.ui-title1 .button
{
display:inline-block;
float:right;
height:22px;
text-align:center;
line-height:22px;
border-radius:3px;
border:1px solid #aaa;
color:#767676;
padding:0 15px 0 15px;
background: -webkit-gradient(linear, 0 0, 0 100%, from(#f3f3f3), to(#dfdfdf));
background:-moz-linear-gradient(top,#f3f3f3,#dfdfdf);
cursor:pointer;
font-size:12px;
margin:-5px 0 0 10px;
}
.ui-title1 .button:hover
{
background:-webkit-gradient(linear, 0 0, 0 100%, from(#6d6d6d), to(#6d6d6d));
background:-moz-linear-gradient(top,#6d6d6d,#6d6d6d);
color:#fff;
}

.ui-title1 .orange
{
background:-webkit-gradient(linear, 0 0, 0 100%, from(#F8A721), to(#ff6600));
background:-moz-linear-gradient(top,#F8A721,#ff6600);
border:1px solid #ff6600;
color:#fff;
}
.ui-title1 .orange:hover
{
background:-webkit-gradient(linear, 0 0, 0 100%, from(#ff6600), to(#F8A721));
background:-moz-linear-gradient(top,#ff6600,#f8a721);
}


/*arrow-s*/
.arrow-rthin, .arrow-rthin s {
border-color: transparent transparent transparent #fafafa;
border-left-style: solid;
}
.arrow-s, .arrow-s s {
position: absolute;
display: inline-block;
font-size: 0;
line-height: 0;
width: 0;
height: 0;
border: dashed 5px;
}
.arrow-rthin
{
border-left-color:#fafafa;
}
.arrow-rthin s {
border-left-color:#1d5773;
left: -7px;
right:1px;
top: -5px;
}
s{
text-decoration: line-through;
color:transparent;
}
.arrow-rthin
{
right: 2px;
top: 5px;
margin-left:5px;
}
/*arrow-s-end*/


.ui-block .ui-block-content
{
clear:both;
width:100%;
padding:10px;
overflow:hidden;
border:0;
}
.ui-block .ui-block-content table{
border:0;
}
table.ui-block-content td,.ui-block .ui-block-content table td
{
vertical-align:middle;
}
table.ui-block-content td select,.ui-block .ui-block-content table td select
{
width:190px;
}
.ui-loxia-hint td
{
padding:10px!important;
font-style:italic;
color:#767676;
}

.func-button:link,.func-button:visited
{
color:#069;
overflow:hidden;
margin:0 10px 0 0;
}
.func-button:hover
{
color:#ff6600;
}
.func-button:hover span
{
text-decoration:underline;
}
.func-button label
{
display:inline-block;
width:16px;
height:16px;
margin:0 5px 0 0;
}
.ficon-true
{
background:url(../images/main/true.png) no-repeat 0 2px;
}


.ui-block-title1
{
clear:both;
width:100%;
padding:5px 5px 5px 5px;
text-align:left;
font-weight:bold;
color:#fff;
background:#1d5773;
}
.ui-block
{
clear:both;
width:100%;
height:auto;
overflow:hidden;
padding-bottom:10px;
}
.ui-loxia-simple-table
{
clear:both;
width:100%;
height:auto;
overflow:hidden;
border:0;
margin-bottom:10px;
}
.ui-block table
{
margin:0;
padding:0;
}
/*dashboard*/
.dashboard
{
clear:both;
width:100%;
box-sizing:border-box;
padding:20px;
}
.dashboard-left
{
width:35%;
float:left;
overflow:hidden;
}
.dashboard-right
{
width:60%;
float:right;
overflow:hidden;
}

.ui-loxia-simple-table table
{
clear:both;
width:100%;
}

.ui-loxia-simple-table table tr th
{
box-sizing:border-box;
text-align:center;
padding:6px 0 6px 10px;
background:-webkit-gradient(linear, 0 0, 0 100%, from(#f9f9f9), to(#e8e8e8));
background:-moz-linear-gradient(top, #f9f9f9, #e8e8e8);
color:#777;
text-align:left;
}
.ui-loxia-simple-table table tr th:hover
{
background:url(../images/main/bg-noise.png),url(../images/main/line-double.jpg) no-repeat left top,url(../images/main/line-double.jpg) no-repeat right top,-webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#dddddd));
background:url(../images/main/bg-noise.png),url(../images/main/line-double.jpg) no-repeat left top,url(../images/main/line-double.jpg) no-repeat right top,-moz-linear-gradient(top,#fff,#ddd);
}
.ui-loxia-simple-table table tr th span
{
display:inline-block;
width:8px;
height:9px;
overflow:hidden;
background:url(../images/main/blank.gif);
cursor:pointer;
margin:0 0 0 8px;
}
.ui-loxia-simple-table table tr th.sort-asc span
{
background:url(../images/main/sort-up.png) no-repeat center center;
}
.ui-loxia-simple-table table tr th.sort-desc span
{
background:url(../images/main/sort-down.png) no-repeat center center;
}

.ui-loxia-simple-table table tr td
{
box-sizing:border-box;
text-align:center;
padding:5px 0 5px 10px;
background:#fff;
text-align:left;
}
.ui-loxia-simple-table table .even td
{
background:#f1f1f1;
}
.ui-loxia-simple-table table tr:hover td
{
background:#f9f9d4;
}
.ui-loxia-simple-table table tr.selected td
{
background:#C5E0FA;
}
.ui-loxia-nav
{
clear:both;
width:100%;
overflow:hidden;
padding:10px;
}
.ui-loxia-nav select
{
display:inline;
float:left;
border:1px solid #ccc;
}
.ui-loxia-nav .refresh:link,.ui-loxia-nav .refresh:visited
{
display:inline-block;
width:20px;
height:20px;
float:left;
margin-right:5px;
background:url(../images/main/refurbish-0.png) no-repeat center center;
cursor:pointer;
}
.ui-loxia-nav .refresh:hover
{
background:url(../images/main/refurbish-1.png) no-repeat center center;
}
.nav-pager
{
display:inline-block;
height:auto;
float:right;
overflow:hidden;
z-index:10;
}
.nav-pager a:link,.nav-pager a:visited
{
display:inline-block;
float:left;
height:20px;
line-height:20px;
margin:0 10px 0 0;
color:#006799;
font-weight:bold;
}
.nav-pager a:hover
{
color:#ff6600;
}
.nav-pager a.disabled
{
color:#ccc;
cursor:default;
}
.nav-pager input[type="text"]
{
width:50px;
height:20px;
line-height:20px;
float:left;
margin-right:10px;
border:1px solid #006799;
background:#fff;
cursor:text;
padding:4px;
text-align:center;
color:#767676;
}
.nav-pager p
{
float:left;
line-height:20px;
color:#006799;
}
.ui-tag-change .tag-change-ul
{
clear:both;
width:100%;
box-sizing:border-box;
padding:0px 0 0 10px;
overflow:hidden;
z-index:1;
margin-bottom:-1px;
}
.ui-tag-change .tag-change-ul li
{
float:left;
box-sizing:border-box;
margin:0 7px 0 0;
padding:5px 15px 5px 15px;
border-top:1px solid #dedede;
border-left:1px solid #dedede;
border-right:1px solid #dedede;
border-radius:2px 2px 0 0;
cursor:pointer;
background:-webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#cecece));
background:-moz-linear-gradient(top,#fff,#cecece);
}
.ui-tag-change .tag-change-ul .selected
{
background:#fff;
}
.tag-change-content
{
clear:both;
width:100%;
box-sizing:border-box;
padding:10px;
border:1px solid #dedede;
background:#fff;
overflow:hidden;
margin:0 0 20px 0;
}
.tag-change-in
{
display:none;
}
.price-cate-num
{
clear:both;
width:100%;
padding:10px;
box-sizing:border-box;
border:1px solid #dedede;
border-radius:5px;
overflow:hidden;
}
.price-cate-num dd
{
width:25%;
float:left;
text-align:center;
}
.price-cate-num dd p
{
color:#ff6600;
font-size:18px;
padding:5px 0 0 0;
font-weight:bold;
}
/*dashboard-end*/

.content-box
{
display:block;
/*border:1px solid #0F6C9F;*/
height:auto;
overflow:hidden;
padding:10px;
background:#fff;
}
.notice
{
clear:both;
display:none;
position:fixed;
left:0;
top:135px;
width:100%;
height:auto;
overflow:hidden;
border:1px solid #ccc;
background:#f9f9d4;
padding:5px 10px 10px 10px;
z-index:3;
box-shadow:0 2px 3px #ccc; 
}
.notice h5
{
width:100%;
height:25px;
line-height:25px;
padding:0 0 0 30px;
background:url(../images/main/qs.png) no-repeat 0 center;
color:#333;
font-size:14px;
}
.notice p
{
padding:5px 0 0 0;
color:#555;
width:100%;
line-height:1.5;
}
.notice-alt
{
clear:both;
width:100%;
height:0px;
overflow:hidden;
background:url(../images/main/blank.gif);
}
.notice .cross
{
clear:both;
position:absolute;
width:21px;
height:21px;
background:url(../images/main/footer_cross.png) no-repeat center center;
cursor:pointer;
top:5px;
right:5px;
}



.error-information
{
clear:both;
width:100%;
height:auto;
overflow:hidden;
border:1px solid #F00;
background:#FEE0E4;
padding:10px;
z-index:3;
border-radius:4px;
margin:10px 0 0 0;
}
.error-information h5
{
width:100%;
height:25px;
line-height:25px;
padding:0 0 0 30px;
background:url(../images/main/cross.png) no-repeat 0 center;
color:#900;
font-size:14px;
}
.error-information p
{
padding:5px 0 0 0;
color:#900;
width:100%;
line-height:1.5;
}
.error-fixed
{
position:fixed;
left:0px;
bottom:0px;
opacity:0.7;
border:0;
border-radius:0;
}


.ui-block-line
{
clear:both;
width:100%;
display:block;
padding-top:7px;
}
.ui-block-line label
{
display:block;
float:left;
width:120px;
text-align:left;
padding:7px 10px 0 15px;
overflow:hidden;
}
.ui-block-line input[type="radio"],.ui-block-line input[type="checkbox"]
{
float:left;
margin:7px 5px 0 0;
}

.ui-block-line .ui-button
{
display:inline-block;
font-size:12px;
height:24px;
line-height:24px;
padding:0 10px 0 10px;
}

.ui-block-line .orange
{
background:-webkit-gradient(linear, 0 0, 0 100%, from(#F8A721), to(#ff6600));
background:-moz-linear-gradient(top,#F8A721,#ff6600);
border:1px solid #ff6600;
color:#fff;
}
.ui-block-line .orange:hover
{
background:-webkit-gradient(linear, 0 0, 0 100%, from(#ff6600), to(#F8A721));
background:-moz-linear-gradient(top,#ff6600,#f8a721);
}

.button-line
{
clear:both;
width:100%;
padding:10px;
text-align:right;
overflow:hidden;
}



.wl-right
{
width:200px;
float:left;
height:auto;
}
.wl-right p
{
width:70px;
float:left;
text-align:left;
line-height:24px;
margin:2px 5px 0 0;
}


.wl-right-auto
{
clear:both;
width:100%;
padding:5px;
border:1px solid #ccc;
overflow-y:scroll;
height:82px;
}
.wl-right-auto  input[type="checkbox"]
{
clear:both;
}
.wl-right-auto  p
{
width:80%;
}



.ui-block-line-37 .wl-right
{
width:70%;
}
.ui-block-line-19 .wl-right
{
width:90%;
}


.warn-word
{
clear:both;
position:absolute;
line-height:24px;
color:red;
left:310px;
top:10px;
text-align:left;
width:100%;
white-space:nowrap;
}

.button-line .button
{
display:inline-block;
height:35px;
text-align:center;
line-height:35px;
border-radius:3px;
border:1px solid #aaa;
color:#767676;
padding:0 20px 0 20px;
background: -webkit-gradient(linear, 0 0, 0 100%, from(#f3f3f3), to(#dfdfdf));
background:-moz-linear-gradient(top,#f3f3f3,#dfdfdf);
cursor:pointer;
font-size:12px;
}
.button-line .button:hover
{
background:-webkit-gradient(linear, 0 0, 0 100%, from(#6d6d6d), to(#6d6d6d));
background:-moz-linear-gradient(top,#6d6d6d,#6d6d6d);
color:#fff;
}

.button-line .orange
{
background:-webkit-gradient(linear, 0 0, 0 100%, from(#F8A721), to(#ff6600));
background:-moz-linear-gradient(top,#F8A721,#ff6600);
border:1px solid #ff6600;
color:#fff;
}
.button-line .orange:hover
{
background:-webkit-gradient(linear, 0 0, 0 100%, from(#ff6600), to(#F8A721));
background:-moz-linear-gradient(top,#ff6600,#f8a721);
}

.ui-widget-overlay { position: fixed; top: 0; left: 0; width: 100%; height: 100%;
    background: #efefef 50% 50% repeat; opacity:0.8;filter:Alpha(Opacity=80);
    z-index: 100;}

.loxiaOnion .inner{
 position:fixed!important; top: 0!important; left: 0; width: 100%; height: 100%;
 text-align:center;  z-index: 101;
 background:url(../images/main/285.gif) no-repeat center center;
}
.loxiaOnion .inner span
{
display: none;
}

.ui-loxia-number{text-align:right;}
.ui-loxia-number-active{text-align:left;}
.children-org{white-space:nowrap; margin-right:10px;}
.children-store{float:left; margin:0 5px 3px 5px; line-height:28px;}

/*data*/
.ui-datepicker
{
padding:10px;
box-shadow:1px 1px 4px #1D5773;
border-radius:4px;
background:#fff;
z-index:10!important;
}
.ui-datepicker-header
{
width:100%;
overflow:hidden;
}
.ui-datepicker-header .ui-datepicker-prev,.ui-datepicker-header .ui-datepicker-next
{
color:#006699;
cursor:pointer;
margin:0 6px 0 0;
}
.ui-datepicker-header .ui-datepicker-title
{
display:inline;
}
.ui-datepicker-header select
{
margin:0 0 0 7px;
}
.ui-datepicker-header .ui-state-hover
{
background:none;
text-decoration:underline;
}
.ui-datepicker-calendar
{
width:100%;
}
.ui-datepicker-calendar th,.ui-datepicker-calendar td
{
text-align:center;
padding:2px;
}
.ui-state-hover
{
background:#dedede;
}
.ui-datepicker-calendar .ui-state-default
{
display:inline-block;
width:23px;
height:23px;
text-align:center;
line-height:23px;
background:#D9ECFD;
border:1px solid #006699;
border-radius:4px;
color:#006699;
}
.ui-datepicker-calendar .ui-state-hover
{
background:#006699;
color:#fff;
}
#ui-datepicker-div{display:none;}
.ui_tpicker_hour,.ui_tpicker_minute
{
width:100%;
height:10px;
border:1px solid #006699;
background:#D9ECFD;
margin:2px 0 2px 0;
border-radius:3px;
}
.ui_tpicker_hour .ui-slider-handle,.ui_tpicker_minute .ui-slider-handle
{
position:absolute;
box-sizing:border-box;
width:15px;
height:15px;
border:1px solid #006699;
background: -webkit-gradient(linear, 0 0, 0 100%, from(#D9ECFD), to(#006699));
background:-moz-linear-gradient(top,#D9ECFD,#006699);
left:-3px;
top:-3px;
outline:none;
border-radius:3px;
}


.ui-datepicker .ui-datepicker-buttonpane button
{
float: right;
margin:0.5em 0.2em 0.4em 0.2em;
cursor: pointer;
padding:0.2em 0.6em 0.3em 0.6em;
width: auto;
overflow: visible;
border:1px solid #006699;
border-radius:4px;
color:#006699;
background:#D9ECFD;
}
.ui-datepicker .ui-datepicker-buttonpane button.ui-datepicker-current {
float: left;
}
.ui-datepicker .ui-datepicker-buttonpane .ui-state-hover
{
color:#ffffff;
background:#006699;
}
/*data-end*/


/*login*/
.login-bg
{
clear:both;
width:100%;
background:url(../images/main/login-bg.jpg) no-repeat center center #000;
height:100%;
text-align:center;
padding:0;
margin:0;
}
.login-bg.content
{
padding:0;
}
.login-bg.content .notice
{
top:0;
}
.login
{
display:inline-block;
width:400px;
overflow:hidden;
padding:10px 20px 20px 20px;
border-radius:4px;
box-shadow:0 0 10px #000;
background:#fff;
margin:0 auto;
}
.login h5
{
clear:both;
width:100%;
font-size:20px;
padding:10px;
text-align:center;
}
.login .login-line
{
clear:both;
width:100%;
padding:5px 0 0 0;
}
.login .login-line label
{
display:block;
float:left;
width:85px;
line-height:27px;
text-align:right;
margin-right:5px;
}
.login .login-line input[type='button'],.login .login-line input[type='submit']
{
display:inline-block;
height:35px;
text-align:center;
line-height:35px;
border-radius:3px;
border:1px solid #aaa;
color:#767676;
padding:0 20px 0 20px;
background:-webkit-gradient(linear, 0 0, 0 100%, from(#f3f3f3), to(#dfdfdf));
background:-moz-linear-gradient(top,#f3f3f3,#dfdfdf);
cursor:pointer;
font-size:12px;
}
.login .login-line input[type='button']:hover,.login .login-line input[type='submit']:hover
{
background:-webkit-gradient(linear, 0 0, 0 100%, from(#dfdfdf), to(#f3f3f3));
background:-moz-linear-gradient(top,#dfdfdf,#f3f3f3);
}
.login .login-line input[type='button'].orange,.login .login-line input[type='submit'].orange
{
background: -webkit-gradient(linear, 0 0, 0 100%, from(#F8A721), to(#ff6600));
background: -moz-linear-gradient(top,#F8A721,#ff6600);
border: 1px solid #ff6600;
color: #fff;
}
.login .login-line input[type='button'].orange:hover,.login .login-line input[type='submit'].orange:hover
{
background: -webkit-gradient(linear, 0 0, 0 100%, from(#ff6600), to(#F8A721));
background: -moz-linear-gradient(top,#ff6600,#F8A721);
}
/*login-end*/


/*error-page*/
.error-page
{
clear:both;
display:none;
width:90%;
overflow:hidden;
margin:0 auto;
text-align:center;
}
.error-page h1
{
display:inline-block;
height:100px;
overflow:hidden;
line-height:100px;
font-size:80px;
font-weight:bold;
text-align:center;
padding:0 0 0 120px;
background:url(../images/main/error-warm.png) no-repeat 0 0;
}
.error-page p
{
clear:both;
width:100%;
line-height:1.5;
padding:20px 0 0 0;
font-size:14px;
border-radius:4px;
}
.error-page p a:link,.error-page p a:visited
{
color:red;
text-decoration:underline;
}
.error-detail
{
clear:both;
width:100%;
line-height:1.5;
display:none;
text-align:left;
border:1px solid red;
margin:20px 0 20px 0;
padding:20px;
background:#FEE0E4;
}
/*error-page-end*/


.percent30-content-left
{
width:310px;
float:left;
overflow-x:auto;
padding:0 20px 10px 10px;
box-sizing:content-box;
margin-bottom:10px;
}
.percent70-content-right
{
float:left;
padding:0 0 10px 30px;
margin-bottom:10px;
}
.border-right-dashed
{
border-right:1px dashed #ccc;
}
.type-content
{
width:350px;
overflow:hidden;
color:#555;
padding:10px;
background:#efefef;
border:1px solid #ccc;
border-radius:4px;
}
.type-content-line
{
clear:both;
width:100%;
padding:10px 0 0 0;
}
.type-content-line input
{
margin:0 5px 0 0;
}

.list-all
{
clear:both;
width:100%;
}
.list-all li
{
clear:both;
width:100%;
overflow:hidden;
border:1px solid #dedede;
padding:10px;
background:#eeeeee;
cursor:pointer;
margin:5px 0 0 0;
}
.list-all li:hover
{
border:1px solid #1d5773;
}
.list-all li.selected
{
background:#D9ECFD;
}
.list-all li span
{
display:inline-block;
overflow:hidden;
}
.list-all li .num
{
margin:0 10px 0 0;
}
.list-all li .id
{
display:none;
}
.list-all li .text
{
width:90px;
white-space:nowrap;
}
.list-all li .type
{
margin:0 0 0 10px;
color:#69C;
}
.list-all li .state
{
display:none;
}
.list-all li em
{
clear:both;
position:absolute;
width:20px;
height:20px;
background:url(../images/main/false.png) no-repeat center center;
top:7px;
right:5px;
cursor:pointer;
}
.list-all .list-element
{
background:#ffffff;
}
.new-list-add
{
clear:both;
width:100%;
border:1px dashed #dedede;
margin:10px 0 0 0;
padding:5px 10px 5px 10px;
text-align:right;
cursor:pointer;
background:#f5f5f5;
}
.new-list-add:hover
{
border:1px dashed #1d5773;
}