<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:loxia="http://loxia.benjamin.cn/schema/core" xmlns:p="http://www.springframework.org/schema/p" xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
		http://loxia.benjamin.cn/schema/core http://loxia.benjamin.cn/schema/core/loxia-spring-ext.xsd
		http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd	
		">
		
	<bean id="payTypeConverterMap" class="java.util.HashMap">
	    <constructor-arg>
	        <map>
	            <entry key="#{T(com.baozun.nebula.model.salesorder.SalesOrder).SO_PAYMENT_TYPE_ALIPAY}" 
	                value="#{T(com.baozun.nebula.utilities.integration.payment.PaymentFactory).PAY_TYPE_ALIPAY}"></entry>
	                
	            <entry key="#{T(com.baozun.nebula.model.salesorder.SalesOrder).SO_PAYMENT_TYPE_NETPAY}" 
	                value="#{T(com.baozun.nebula.utilities.integration.payment.PaymentFactory).PAY_TYPE_ALIPAY_BANK}"></entry>
	                
	            <entry key="#{T(com.baozun.nebula.model.salesorder.SalesOrder).SO_PAYMENT_TYPE_ALIPAY_CREDIT}" 
	                value="#{T(com.baozun.nebula.utilities.integration.payment.PaymentFactory).PAY_TYPE_ALIPAY_CREDIT}"></entry>
	                
	            <entry key="#{T(com.baozun.nebula.model.salesorder.SalesOrder).SO_PAYMENT_TYPE_INTERNATIONALCARD}" 
	                value="#{T(com.baozun.nebula.utilities.integration.payment.PaymentFactory).PAY_TYPE_ALIPAY_CREDIT_INT}"></entry>
	                
	            <entry key="#{T(com.baozun.nebula.model.salesorder.SalesOrder).SO_PAYMENT_TYPE_UNIONPAY}" 
	                value="#{T(com.baozun.nebula.utilities.integration.payment.PaymentFactory).PAY_TYPE_UNIONPAY}"></entry>
	                
	            <entry key="#{T(com.baozun.nebula.model.salesorder.SalesOrder).SO_PAYMENT_TYPE_WECHAT}" 
	                value="#{T(com.baozun.nebula.utilities.integration.payment.PaymentFactory).PAY_TYPE_WECHAT}"></entry>
	        </map>
	    </constructor-arg>
	</bean>
	
	<bean id="paymentResolverType" class="com.baozun.nebula.web.controller.payment.resolver.PaymentResolverType">
		<property name="paymentResolverTypes">
			<map>
				<entry key="4">
					<bean class="com.baozun.nebula.web.controller.payment.resolver.WechatPaymentResolver" />
				</entry>
				
				<entry key="6">
					<bean class="com.baozun.nebula.web.controller.payment.resolver.AlipayPaymentResolver" />
				</entry>
				
				<entry key="320">
					<bean class="com.baozun.nebula.web.controller.payment.resolver.UnionpayPaymentResolver" />
				</entry>
			</map>
		</property>

	</bean>
	
</beans>