<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:loxia="http://loxia.benjamin.cn/schema/core" xmlns:p="http://www.springframework.org/schema/p" xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
		http://loxia.benjamin.cn/schema/core http://loxia.benjamin.cn/schema/core/loxia-spring-ext.xsd
		http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd	
		">
		
	<bean id="paymentResolverType" class="com.baozun.nebula.web.controller.payment.resolver.PaymentResolverType">
		<property name="paymentResolverTypes">
			<map>
				<entry key="4">
					<bean class="com.baozun.nebula.web.controller.payment.resolver.WechatPaymentResolver" />
				</entry>
				
				<entry key="6">
					<bean class="com.baozun.nebula.web.controller.payment.resolver.AlipayPaymentResolver" />
				</entry>
				
				<entry key="320">
					<bean class="com.baozun.nebula.web.controller.payment.resolver.UnionpayPaymentResolver" />
				</entry>
			</map>
		</property>

	</bean>
	
</beans>