<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:loxia="http://loxia.benjamin.cn/schema/core"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
	
	<!-- curator zookeeper -->
	<bean id="zkOperator" class="com.baozun.nebula.curator.ZkOperator">
		<property name="connectionString" value="#{meta['zk.connectionString']}" />
		<property name="namespace" value="#{meta['zk.namespace']}" />
		<property name="sessionTimeoutMs" value="#{meta['zk.sessionTimeoutMs']}" />
		<property name="connectionTimeoutMs" value="#{meta['zk.connectionTimeoutMs']}" />
		<property name="bgThreadPoolSize" value="#{meta['zk.bgThreadPoolSize']}" />
		<property name="retryType" value="#{meta['zk.retryType']}" />
		<property name="maxElapsedTimeMs" value="#{meta['zk.maxElapsedTimeMs']}" />
		<property name="sleepMsBetweenRetries" value="#{meta['zk.sleepMsBetweenRetries']}" />
		<property name="lifeCycleNode" value="#{meta['zk.path.root']}" />
	</bean>
	
	<bean id="engineWatchInvoke" class="com.baozun.nebula.curator.invoke.EngineWatchInvoke" />
	<bean id="engineWatch" class="com.baozun.nebula.curator.watcher.DefaultNodeDataChangedWatcher">
		<property name="listenerPath" value="#{meta['zk.path.enginewatch']}" />
		<property name="watcherInvoke" ref="engineWatchInvoke" />
	</bean>
	<bean id="freightWatchInvoke" class="com.baozun.nebula.curator.invoke.FreightWatchInvoke" />
	<bean id="freightWatch" class="com.baozun.nebula.curator.watcher.DefaultNodeDataChangedWatcher">
		<property name="listenerPath" value="#{meta['zk.path.freightwatch']}" />
		<property name="watcherInvoke" ref="freightWatchInvoke" />
	</bean>
	<bean id="i18nLangWatchInvoke" class="com.baozun.nebula.curator.invoke.I18nLangWatchInvoke" />
	<bean id="i18nLangwatch" class="com.baozun.nebula.curator.watcher.DefaultNodeDataChangedWatcher">
		<property name="listenerPath" value="#{meta['zk.path.i18nlangwatch']}" />
		<property name="watcherInvoke" ref="i18nLangWatchInvoke" />
	</bean>
	<bean id="moduleMapWatchInvoke" class="com.baozun.nebula.curator.invoke.ModuleMapWatchInvoke" />
	<bean id="moduleMapWatch" class="com.baozun.nebula.curator.watcher.DefaultNodeDataChangedWatcher">
		<property name="listenerPath" value="#{meta['zk.path.modulemapwatch']}" />
		<property name="watcherInvoke" ref="moduleMapWatchInvoke" />
	</bean>
	<bean id="scheduleTaskWatchInvoker" class="com.baozun.nebula.curator.invoke.ScheduleTaskWatchInvoker" />
	<bean id="scheduleTaskWatch" class="com.baozun.nebula.curator.watcher.DefaultNodeDataChangedWatcher">
		<property name="listenerPath" value="#{meta['zk.path.scheduletaskwatch']}" />
		<property name="watcherInvoke" ref="scheduleTaskWatchInvoker" />
	</bean>
	<bean id="systemConfigWatchInvoke" class="com.baozun.nebula.curator.invoke.SystemConfigWatchInvoke" />
	<bean id="systemConfigWatch" class="com.baozun.nebula.curator.watcher.DefaultNodeDataChangedWatcher">
		<property name="listenerPath" value="#{meta['zk.path.systemconfigwatch']}" />
		<property name="watcherInvoke" ref="systemConfigWatchInvoke" />
	</bean>
	<bean id="urlMapWatchInvoke" class="com.baozun.nebula.curator.invoke.UrlMapWatchInvoke" />
	<bean id="urlMapWatch" class="com.baozun.nebula.curator.watcher.DefaultNodeDataChangedWatcher">
		<property name="listenerPath" value="#{meta['zk.path.urlmapwatch']}" />
		<property name="watcherInvoke" ref="urlMapWatchInvoke" />
	</bean>
	
	<bean id="zkWatcherControl" class="com.baozun.nebula.curator.watcher.ZkWatcherControl">
		<property name="watchers">
			<list>
				<ref local="engineWatch" />
				<ref local="freightWatch" />
				<ref local="i18nLangwatch" />
				<ref local="moduleMapWatch" />
				<!-- <ref local="scheduleTaskWatch" /> -->
				<ref local="systemConfigWatch" />
				<ref local="urlMapWatch" />
			</list>
		</property>
	</bean>
</beans>