<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context" xmlns:loxia="http://loxia.benjamin.cn/schema/core" xmlns:p="http://www.springframework.org/schema/p"
    xmlns:util="http://www.springframework.org/schema/util"
    xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
		http://loxia.benjamin.cn/schema/core http://loxia.benjamin.cn/schema/core/loxia-spring-ext.xsd
		http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd	
		">

    <bean id="redisconfig" class="redis.clients.jedis.JedisPoolConfig">
        <property name="maxActive">
            <value type="long">#{redis['redis.MaxActive']}</value>
        </property>
        <property name="maxIdle">
            <value type="long">#{redis['redis.MaxIdle']}</value>
        </property>
        <property name="maxWait">
            <value type="long">#{redis['redis.MaxWait']}</value>
        </property>
        <property name="testOnBorrow">
            <value type="boolean">true</value>
        </property>
    </bean>


    <bean id="jedisSentinelPool" class="redis.clients.jedis.JedisSentinelPool">
        <constructor-arg ref="redisconfig"></constructor-arg>

        <constructor-arg type="java.util.Set">
            <set>
                <value>#{redis['redis.sentinel1']}</value>
                <value>#{redis['redis.sentinel2']}</value>
                <value>#{redis['redis.sentinel3']}</value>
            </set>

        </constructor-arg>

        <constructor-arg>
            <value>#{redis['redis.mastername']}</value>
        </constructor-arg>

    </bean>
</beans>