.top7 {
	MARGIN-TOP: 7px
}
.nav_ta_all {
	POSITION: relative; MARGIN: 14px auto 0px; WIDTH: 1001px
}
.relate_img {
	Z-INDEX: 1000; POSITION: fixed; OVERFLOW: hidden; TOP: 204px; LEFT: 35px
}
.cent_nav1 {
	OVERFLOW: hidden
}
.cent_nav2 {
	OVERFLOW: hidden
}
.cent_nav1 {
	WIDTH: 1001px
}
.nav_left_all {
	WIDTH: 750px; FLOAT: left; OVERFLOW: hidden
}
.nav_right_all {
	POSITION: relative; FLOAT: right; OVERFLOW: hidden
}
.moverwrap_chage {
	POSITION: absolute; MARGIN: 0px auto; WIDTH: 752px; HEIGHT: 444px; OVERFLOW: hidden
}
.lmoveap_t {
	POSITION: absolute
}
.moverwrap_chage LI {
	WIDTH: 752px; FLOAT: left
}
.sidli_chage {
	POSITION: relative; MARGIN: 0px auto; WIDTH: 752px; HEIGHT: 444px; OVERFLOW: hidden
}
.ath {
	BACKGROUND-IMAGE: url(../../images/index1220/cha_but.png); POSITION: absolute; TEXT-INDENT: -20000px; WIDTH: 28px; HEIGHT: 64px; OVERFLOW: hidden; TOP: 192px
}
.cha_aleft {
	LEFT: 0px
}
.cha_arigt {
	BACKGROUND-POSITION: 28px 0px; RIGHT: 0px
}
.cte_nr {
	POSITION: absolute; FILTER: alpha(opacity=50); WIDTH: 752px; BOTTOM: 0px; BACKGROUND: #f9f7f6; HEIGHT: 14px; OVERFLOW: hidden; CURSOR: pointer; RIGHT: 0px; LEFT: 0px; opacity: 0.5
}
.ctmt {
	POSITION: absolute; LINE-HEIGHT: 14px; BOTTOM: -4px; HEIGHT: 14px; LEFT: 309px
}
.ctmt LI {
	LINE-HEIGHT: 14px; WIDTH: 7px; BACKGROUND: url(../../images/index1220/cter_curtt.png) no-repeat; FLOAT: left; HEIGHT: 7px; CURSOR: pointer; MARGIN-RIGHT: 16px
}
.ctmt LI.cur {
	BACKGROUND: url(../../images/index1220/cter_curto.png) no-repeat
}
.enbore {
	BORDER-BOTTOM: #d3d3d3 1px solid; BORDER-LEFT: #d3d3d3 1px solid; BORDER-TOP: #d3d3d3 1px solid; BORDER-RIGHT: #d3d3d3 1px solid
}
.nv_to {
	BORDER-BOTTOM: #d3d3d3 1px solid; POSITION: relative; BORDER-LEFT: #d3d3d3 1px solid; WIDTH: 244px; BACKGROUND: url(../../images/index1220/ri_img_bk.jpg) no-repeat; HEIGHT: 126px; BORDER-TOP: #d3d3d3 1px solid; BORDER-RIGHT: #d3d3d3 1px solid
}
.en_szt {
	TEXT-ALIGN: center; WIDTH: 62px
}
.en_shuzi {
	POSITION: absolute; TEXT-ALIGN: center; TOP: 27px; RIGHT: 61px
}
.en_shuzi SPAN {
	TEXT-ALIGN: center; LINE-HEIGHT: 22px; FONT-FAMILY: "Impact"; COLOR: #802027; FONT-SIZE: 23px
}
.nv_to UL {
	POSITION: absolute; HEIGHT: 65px; OVERFLOW: hidden; TOP: 10px
}
.nv_to UL LI {
	MARGIN: 0px 3px; WIDTH: 57px; FLOAT: left; HEIGHT: 61px
}
.cent_nav2 {
	MARGIN-TOP: 8px
}
.cent_nav2 IMG {
	DISPLAY: block; FLOAT: left
}
.cent_texts {
	BORDER-BOTTOM: #cdcaca 1px solid; BORDER-LEFT: #cdcaca 1px solid; MARGIN-TOP: -6px; PADDING-LEFT: 12px; OVERFLOW: hidden; BORDER-TOP: #cdcaca 1px solid; BORDER-RIGHT: #cdcaca 1px solid; PADDING-TOP: 14px
}
.c_tex_tie {
	FLOAT: right
}
.c_p_al {
	OVERFLOW: hidden
}
.cent_u_tite {
	OVERFLOW: hidden
}
.c_p_fleft {
	FLOAT: left; OVERFLOW: hidden
}
.c_p_fleft UL LI {
	FLOAT: left; MARGIN-RIGHT: 9px
}
.c_p_frigt {
	FLOAT: right; MARGIN-RIGHT: 12px
}
.e_pe IMG {
	DISPLAY: block; MARGIN-BOTTOM: 7px
}
.cen_u_al {
	MARGIN-TOP: 40px
}
.e_ctmt {
	FLOAT: right; HEIGHT: 27px
}
.e_ctmt LI {
	WIDTH: 7px; BACKGROUND: url(../../images/index1220/cter_curto.png) no-repeat; FLOAT: left; HEIGHT: 7px; MARGIN-RIGHT: 5px
}
.e_ctmt LI.cur {
	BACKGROUND: url(../../images/index1220/cter_curtt.png) no-repeat
}
.agr_chaeg {
	MARGIN-TOP: 28px
}
.productAreaHead {
	BORDER-BOTTOM: #a10000 2px solid; MARGIN-TOP: 45px; WIDTH: 1001px; HEIGHT: 29px; COLOR: #000000; OVERFLOW: hidden
}
.productAreaHead A:link {
	COLOR: #333333
}
.productAreaHead A:visited {
	COLOR: #333333
}
.productAreaHead A:hover {
	COLOR: #a10000
}
.productAreaHead H2 {
	TEXT-ALIGN: center; LINE-HEIGHT: 29px; WIDTH: 128px; DISPLAY: inline; FLOAT: left; HEIGHT: 29px
}
.productAreaHead UL {
	DISPLAY: inline; FLOAT: left
}
.productAreaHead UL LI {
	LINE-HEIGHT: 29px; DISPLAY: inline; FLOAT: left
}
.productAreaHead UL LI A {
	MARGIN: 0px 10px; FONT-SIZE: 14px
}
.moreProduct {
	LINE-HEIGHT: 29px; DISPLAY: inline; FLOAT: right; FONT-SIZE: 14px
}
.moreProduct A:link {
	COLOR: #000000
}
.moreProduct A:visited {
	COLOR: #000000
}
.moreProduct A:hover {
	COLOR: #a10000
}
.product_M {
	BORDER-BOTTOM: #d4d0cd 9px solid; BORDER-LEFT: #d4d0cd 9px solid; MARGIN-TOP: 2px; OVERFLOW: hidden; BORDER-TOP: #d4d0cd 9px solid; BORDER-RIGHT: #d4d0cd 9px solid; PADDING-TOP: 18px
}
.pdect_tl {
	FLOAT: left
}
.pdect_entex {
	FLOAT: left
}
.pdect_tr {
	FLOAT: left
}
.pdect_tl {
	TEXT-ALIGN: center; WIDTH: 260px
}
.pdect_entex {
	WIDTH: 545px; MARGIN-BOTTOM: 10px; OVERFLOW: hidden
}
.pdect_entex UL LI {
	TEXT-ALIGN: center; HEIGHT: 185px
}
DIV.en_span SPAN {
	DISPLAY: block
}
.pdect_entex UL LI IMG {
	DISPLAY: inline; HEIGHT: 144px
}
.pdect_tl UL LI IMG {
	HEIGHT: 282px
}
.pdect_entex UL LI A {
	DISPLAY: block
}
.pdect_entex UL LI.e_al {
	BORDER-RIGHT: #d4d0cd 1px solid
}
.pdect_entex UL LI.t_none {
	BORDER-BOTTOM: medium none
}
.pdect_entex UL LI {
	BORDER-BOTTOM: #d4d0cd 1px solid; TEXT-ALIGN: center; BORDER-LEFT: #d4d0cd 1px solid; WIDTH: 180px; FLOAT: left; BORDER-TOP: medium none; BORDER-RIGHT: medium none
}
.pdect_tr {
	TEXT-ALIGN: center; WIDTH: 175px
}
.are_pottet_all {
	MARGIN-TOP: 40px; OVERFLOW: hidden
}
.aret_ptort_tiete {
	OVERFLOW: hidden
}
.aret_ptort_tiete UL LI {
	PADDING-BOTTOM: 0px; LINE-HEIGHT: 24px; PADDING-LEFT: 20px; PADDING-RIGHT: 20px; FLOAT: left; HEIGHT: 24px; FONT-SIZE: 14px; CURSOR: pointer; MARGIN-RIGHT: 5px; PADDING-TOP: 0px
}
.aret_ptort_tiete UL LI.cur {
	LINE-HEIGHT: 24px; BACKGROUND: #99918d; HEIGHT: 24px; COLOR: #fff; CURSOR: pointer
}
.aret_ptort_tiete UL LI.cur A {
	COLOR: #fff
}
.morproduct_cont {
	BORDER-BOTTOM: #99918d 8px solid; BORDER-LEFT: #99918d 8px solid; OVERFLOW: hidden; BORDER-TOP: #99918d 8px solid; BORDER-RIGHT: #99918d 8px solid
}
.morduct_t {
	OVERFLOW: hidden
}
.e_pflot {
	FLOAT: left
}
UL.maor_frt {
	FLOAT: left; OVERFLOW: hidden
}
UL.maor_frt LI {
	BORDER-BOTTOM: medium none; BORDER-LEFT: #d4d0cd 1px solid; WIDTH: 163px; FLOAT: left; BORDER-TOP: #d4d0cd 1px solid; BORDER-RIGHT: medium none
}
UL.maor_frt LI DIV {
	TEXT-ALIGN: center
}
DIV.pay_t {
	LINE-HEIGHT: 24px; BACKGROUND: url(../../images/index1220/pay_bak_r.jpg) repeat-x; HEIGHT: 24px
}
DIV.pay_t SPAN {
	LINE-HEIGHT: 24px; FONT-FAMILY: Arial; FONT-SIZE: 12px
}
DIV.pay_t SPAN.pay_red {
	FONT-FAMILY: Arial; COLOR: #802027; MARGIN-LEFT: 8px; FONT-SIZE: 12px
}
UL.maor_frt LI.mao_tnonet {
	BORDER-BOTTOM: medium none; BORDER-LEFT: medium none; WIDTH: 164px; BORDER-TOP: medium none; BORDER-RIGHT: medium none
}
UL.maor_frt LI.mao_tnonet IMG {
	WIDTH: 164px; HEIGHT: 210px
}
.pdect_all_t {
	WIDTH: 260px; FLOAT: left; HEIGHT: 360px; OVERFLOW: hidden
}
.pdect_tr_all {
	WIDTH: 175px; HEIGHT: 372px; OVERFLOW: hidden
}
.pdect_tr_all LI {
	WIDTH: 175px; HEIGHT: 372px; OVERFLOW: hidden
}
.pdect_all_t LI {
	WIDTH: 260px; HEIGHT: 360px; OVERFLOW: hidden
}
.en_shuzi A.news_a {
	POSITION: absolute; WIDTH: 230px; BOTTOM: 0px; HEIGHT: 40px; CURSOR: pointer; RIGHT: -59px
}
.newt_ath {
	POSITION: absolute; TEXT-INDENT: -20000px; WIDTH: 15px; BACKGROUND: url(../../images/index1220/new_alf.jpg) no-repeat; HEIGHT: 31px; TOP: 75px; LEFT: 2px
}
.newt_arh {
	POSITION: absolute; TEXT-INDENT: -20000px; WIDTH: 15px; BACKGROUND: url(../../images/index1220/new_arg.jpg) no-repeat; HEIGHT: 31px; TOP: 75px; RIGHT: 2px
}
.newers_siderst {
	OVERFLOW: hidden
}
.newers_siderst_et {
	POSITION: relative; MARGIN: 49px 0px 0px 20px; WIDTH: 198px; HEIGHT: 90px; OVERFLOW: hidden
}
.newers_siderst UL LI {
	BORDER-BOTTOM: #ffffff 1px solid; BORDER-LEFT: #ffffff 1px solid; BORDER-TOP: #ffffff 1px solid; BORDER-RIGHT: #ffffff 1px solid
}
