.header {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 0px; WIDTH: 100%; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
.line_ild {
	POSITION: relative; MIN-WIDTH: 1001px; LINE-HEIGHT: 0; WIDTH: 100%; HEIGHT: 1px; CLEAR: both; FONT-SIZE: 0px; OVERFLOW: hidden
}
.esprit_header {
	Z-INDEX: 20; POSITION: relative; MARGIN: 10px auto 0px; WIDTH: 1001px; HEIGHT: 29px; CLEAR: both
}
.esprit_header2 {
	Z-INDEX: 19; POSITION: relative; MARGIN: 0px auto; WIDTH: 1001px; HEIGHT: 46px; CLEAR: both; OVERFLOW: hidden
}
.esprit_kv {
	Z-INDEX: 0; POSITION: relative; MARGIN: 10px 0px 0px; WIDTH: 1001px; HEIGHT: 551px; CLEAR: both; OVERFLOW: hidden
}
.esprit_kv IMG {
	WIDTH: 1001px; HEIGHT: 551px
}
.eh_left {
	POSITION: relative; LINE-HEIGHT: 1.6; WIDTH: 300px; FLOAT: left; HEIGHT: 20px; OVERFLOW: hidden
}
.eh_left LI {
	LINE-HEIGHT: 20px; FLOAT: left
}
.eh_left A:link {
	FLOAT: left; COLOR: #2e2e2e; TEXT-DECORATION: none
}
.eh_left A:visited {
	FLOAT: left; COLOR: #2e2e2e; TEXT-DECORATION: none
}
.eh_left SPAN {
	MARGIN: 0px 10px; FLOAT: left
}
.eh_left DIV {
	COLOR: #5e5e5e; CLEAR: both
}
.eh_middle {
	POSITION: relative; LINE-HEIGHT: 20px; PADDING-LEFT: 312px; WIDTH: 235px; BACKGROUND: #fff; FLOAT: left; HEIGHT: 20px; OVERFLOW: hidden
}
.eh_favorite {
	POSITION: absolute; LINE-HEIGHT: 1.6; PADDING-LEFT: 24px; WIDTH: 71px; BACKGROUND: url(../images/index826/icon-fav-ilp.jpg) no-repeat 0px 0px; FLOAT: left; HEIGHT: auto; MARGIN-LEFT: 25px; RIGHT: 10px
}
.eh_right {
	Z-INDEX: 10; POSITION: absolute; LINE-HEIGHT: 1.6; WIDTH: auto; BACKGROUND: url(../images/index826/es_buycar.jpg) no-repeat 0px 2px; FLOAT: right; HEIGHT: 20px; COLOR: #363636; RIGHT: 0px
}
.eh_right A:link {
	COLOR: #363636; TEXT-DECORATION: none
}
.eh_right A:visited {
	COLOR: #363636; TEXT-DECORATION: none
}
.es_shuxian {
	MARGIN: 0px 10px
}
.buy_car {
	POSITION: absolute; MIN-HEIGHT: 250px; WIDTH: 305px; DISPLAY: none; BACKGROUND: url(../images/header/buycar_right_shadow.png) repeat-y right 0px; MAX-HEIGHT: 515px; CLEAR: both; OVERFLOW: hidden; TOP: 20px; RIGHT: -6px; PADDING-TOP: 4px
}
.bc_content {
	POSITION: relative; TEXT-ALIGN: center; MIN-HEIGHT: 246px; WIDTH: 300px; BACKGROUND: #ffffff; FLOAT: left; MAX-HEIGHT: 600px; OVERFLOW: hidden
}
.bc_right {
	POSITION: relative; MIN-HEIGHT: 246px; WIDTH: 5px; FLOAT: left; MAX-HEIGHT: 610px; OVERFLOW: hidden
}
.bc_bottom {
	POSITION: relative; WIDTH: 304px; HEIGHT: 4px; CLEAR: both; OVERFLOW: hidden
}
.bc_product {
	POSITION: relative; OVERFLOW-Y: scroll; MIN-HEIGHT: 88px; WIDTH: 290px; MAX-HEIGHT: 300px; MARGIN-LEFT: 10px; CLEAR: both; PADDING-TOP: 10px; _height: 300px
}
.bc_product_in {
	POSITION: relative; WIDTH: 270px; HEIGHT: 88px; CLEAR: both; OVERFLOW: hidden
}
.bcp_img {
	POSITION: relative; WIDTH: 55px; FLOAT: left; HEIGHT: 88px
}
.bcp_detail {
	POSITION: relative; TEXT-ALIGN: left; WIDTH: 210px; FLOAT: left; HEIGHT: 84px; COLOR: #848484; MARGIN-LEFT: 5px; OVERFLOW: hidden; PADDING-TOP: 4px
}
.bcp_detail A:link {
	COLOR: #000
}
.bcp_detail A:visited {
	COLOR: #000
}
.bcp_detail SPAN {
	POSITION: absolute; BOTTOM: 5px; COLOR: #010101; CLEAR: both; RIGHT: 10px
}
.bc_price {
	POSITION: relative; WIDTH: 265px; HEIGHT: 40px; MARGIN-LEFT: 10px; CLEAR: both; OVERFLOW: hidden
}
.bcp_left {
	POSITION: relative; LINE-HEIGHT: 40px; DISPLAY: inline-block; FLOAT: left; HEIGHT: 40px
}
.bcp_right {
	POSITION: relative; LINE-HEIGHT: 40px; DISPLAY: inline-block; FLOAT: right; HEIGHT: 40px
}
.pink_ling_short {
	POSITION: relative; WIDTH: 270px; BACKGROUND: #cbc1bb; HEIGHT: 4px; MARGIN-LEFT: 10px; CLEAR: both; OVERFLOW: hidden
}
.bc_calculation {
	POSITION: relative; TEXT-ALIGN: center; PADDING-BOTTOM: 20px; MARGIN-TOP: 10px; WIDTH: 100%; HEIGHT: 34px; CLEAR: both; OVERFLOW: hidden
}
.bc_calculation INPUT {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; WIDTH: 208px; BACKGROUND: url(../images/header/buycar_cclt.jpg) no-repeat 0px 0px; HEIGHT: 34px; BORDER-TOP: 0px; CURSOR: pointer; BORDER-RIGHT: 0px
}
.eh_logo {
	POSITION: relative; MARGIN-TOP: 0px; WIDTH: 321px; HEIGHT: 34px; MARGIN-LEFT: 388px; CLEAR: both; OVERFLOW: hidden; TOP: 0px
}
.eh_logo IMG {
	WIDTH: 228px; HEIGHT: 32px
}
.eh_kefu {
	POSITION: absolute; WIDTH: 100px; HEIGHT: 16px; CLEAR: both; TOP: 13px
}
.eh_dianhua {
	POSITION: absolute; WIDTH: 158px; HEIGHT: 19px; CLEAR: both; TOP: 42px; RIGHT: 0px
}
.esprit_nav {
	Z-INDEX: 10; POSITION: relative; MARGIN: 0px auto; WIDTH: 1001px; BACKGROUND: url(../images/index826/es_nav-2.jpg) no-repeat 0px 0px; HEIGHT: 39px; CLEAR: both
}
.clickon.esprit_nav {
	BACKGROUND: url(../images/header/es_nav-3.jpg) no-repeat 0px 0px
}
.esprit_nav_homea {
	POSITION: absolute; WIDTH: 16px; BACKGROUND: url(../images/header/blank.gif); HEIGHT: 16px; CLEAR: both; OVERFLOW: hidden; TOP: 11px; LEFT: 0px
}
.esprit_nav UL {
	POSITION: relative; MARGIN: 0px auto; WIDTH: 528px; HEIGHT: 39px; CLEAR: both; LEFT: 48px
}
.esprit_nav UL LI {
	POSITION: relative; TEXT-ALIGN: center; LINE-HEIGHT: 39px; WIDTH: auto; DISPLAY: block; FLOAT: left; HEIGHT: 39px; CURSOR: pointer; MARGIN-RIGHT: 30px
}
.esprit_nav UL LI .esn_nav_title:link {
	FONT-STYLE: italic; COLOR: #8a827e; FONT-SIZE: 15px; FONT-WEIGHT: bold
}
.esprit_nav UL LI .esn_nav_title:visited {
	FONT-STYLE: italic; COLOR: #8a827e; FONT-SIZE: 15px; FONT-WEIGHT: bold
}
.esprit_nav UL LI.on .esn_nav_title:link {
	COLOR: #f0d5c4
}
.esprit_nav UL LI.on .esn_nav_title:visited {
	COLOR: #f0d5c4
}
.esprit_nav UL LI.on DIV.en_white {
	DISPLAY: block
}
.esprit_nav UL LI.on DIV.en_all {
	DISPLAY: block
}
.esprit_nav UL LI.coloron .esn_nav_title {
	COLOR: #f0d5c4
}
.nav_seacrh_text {
	BORDER-BOTTOM: 0px; POSITION: absolute; BORDER-LEFT: 0px; LINE-HEIGHT: 14px; WIDTH: 140px; BACKGROUND: none transparent scroll repeat 0% 0%; HEIGHT: 16px; COLOR: #b1b1b1; CLEAR: both; FONT-SIZE: 12px; BORDER-TOP: 0px; TOP: 10px; RIGHT: 28px; BORDER-RIGHT: 0px
}
.nav_seacrh_btn {
	BORDER-BOTTOM: 0px; POSITION: absolute; BORDER-LEFT: 0px; WIDTH: 32px; BACKGROUND: url(../images/blank.gif); HEIGHT: 20px; CLEAR: both; BORDER-TOP: 0px; TOP: 8px; CURSOR: pointer; RIGHT: 0px; BORDER-RIGHT: 0px
}
.en_white {
	POSITION: absolute; WIDTH: 50px; BACKGROUND: #8a827e; HEIGHT: 4px; CLEAR: both; OVERFLOW: hidden; TOP: 35px; LEFT: 0px
}
.en_all {
	Z-INDEX: 30; POSITION: absolute; LINE-HEIGHT: 1.2; WIDTH: 948px; DISPLAY: none; HEIGHT: 210px; CLEAR: both; TOP: 39px; LEFT: -135px
}
.en_content {
	POSITION: relative; WIDTH: 947px; BACKGROUND: #8a827e; FLOAT: left; HEIGHT: 210px; OVERFLOW: hidden; PADDING-TOP: 20px
}
.nav_right_shadow {
	POSITION: relative; WIDTH: 6px; FLOAT: left; HEIGHT: 230px
}
.nav_bottom_shadow {
	POSITION: relative; WIDTH: 897px; HEIGHT: 5px; CLEAR: both; OVERFLOW: hidden
}
.ec_dl_eve {
	POSITION: relative; PADDING-LEFT: 25px; WIDTH: 262px; FLOAT: left; HEIGHT: 200px; OVERFLOW: hidden; BORDER-RIGHT: #fff 1px solid
}
.ec_dl_eve DT {
	POSITION: relative; TEXT-ALIGN: left; PADDING-BOTTOM: 5px; COLOR: #2e2e2e; CLEAR: both; FONT-SIZE: 14px; FONT-WEIGHT: bold
}
.ec_dl_eve DT A:link {
	FONT-STYLE: italic; COLOR: #fff
}
.ec_dl_eve DT A:visited {
	FONT-STYLE: italic; COLOR: #fff
}
.ec_dl_eve DD {
	POSITION: relative; TEXT-ALIGN: left; WIDTH: 130px; FLOAT: left; PADDING-TOP: 10px
}
.ec_dl_eve DD A:link {
	FONT-STYLE: italic; COLOR: #fff
}
.ec_dl_eve DD A:visited {
	FONT-STYLE: italic; COLOR: #fff
}
.ec_dl_eve DD A:hover {
	COLOR: #2e2e2e; FONT-WEIGHT: bold
}
.search_result {
	POSITION: absolute; WIDTH: 210px; DISPLAY: none; BACKGROUND: url(../images/header/search_result.png) no-repeat 0px 0px; HEIGHT: 281px; CLEAR: both; OVERFLOW: hidden; TOP: 30px; RIGHT: -6px
}
.search_result DL {
	POSITION: absolute; OVERFLOW-Y: scroll; WIDTH: 180px; HEIGHT: 208px; CLEAR: both; TOP: 62px; LEFT: 18px
}
.search_result DL DD {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 35px; PADDING-RIGHT: 0px; CURSOR: pointer; PADDING-TOP: 20px
}
.pink_color {
	COLOR: #c28b6b
}
.footer1 {
	BORDER-BOTTOM: #a89e9a 1px solid; POSITION: relative; MARGIN-TOP: 15px; WIDTH: 1001px; HEIGHT: 35px; CLEAR: both; OVERFLOW: hidden
}
.f1_word {
	POSITION: relative; TEXT-ALIGN: left; LINE-HEIGHT: 26px; WIDTH: auto; FLOAT: left; HEIGHT: 26px; COLOR: #2e2e2e; FONT-SIZE: 14px
}
.f1_text {
	BORDER-BOTTOM: 0px; POSITION: relative; BORDER-LEFT: 0px; LINE-HEIGHT: 26px; PADDING-LEFT: 10px; WIDTH: 173px; BACKGROUND: url(../images/index/text_bg.jpg) no-repeat 0px 0px; HEIGHT: 26px; COLOR: #b1b1b1; BORDER-TOP: 0px; BORDER-RIGHT: 0px
}
.f1_vz_btn {
	BORDER-BOTTOM: 0px; POSITION: relative; BORDER-LEFT: 0px; WIDTH: 69px; BACKGROUND: url(../images/index826/ping_vz_btn.jpg) no-repeat 0px 0px; HEIGHT: 27px; BORDER-TOP: 0px; CURSOR: pointer; BORDER-RIGHT: 0px
}
.f1_nz_btn {
	BORDER-BOTTOM: 0px; POSITION: relative; BORDER-LEFT: 0px; WIDTH: 69px; BACKGROUND: url(../images/index826/ping_nz_btn.jpg) no-repeat 0px 0px; HEIGHT: 27px; BORDER-TOP: 0px; CURSOR: pointer; BORDER-RIGHT: 0px
}
.f1_see {
	POSITION: relative; TEXT-ALIGN: right; LINE-HEIGHT: 26px; WIDTH: 430px; FLOAT: left; HEIGHT: 26px; COLOR: #2e2e2e; FONT-WEIGHT: bold
}
.footer2 {
	POSITION: relative; WIDTH: 1001px; HEIGHT: 44px; CLEAR: both; OVERFLOW: hidden
}
.footer2 SPAN {
	POSITION: relative; LINE-HEIGHT: 44px; DISPLAY: inline-block; FLOAT: left; HEIGHT: 44px; COLOR: #2e2e2e; FONT-SIZE: 16px
}
.footer2 .focs1 {
	MARGIN-RIGHT: 110px
}
.footer2 .focs2 {
	MARGIN-RIGHT: 144px
}
.footer2 .focs3 {
	MARGIN-RIGHT: 135px
}
.footer2 .focs4 {
	FLOAT: left
}
.eh_phone {
	CLEAR: none; TOP: auto; RIGHT: auto
}
.footer2 .eh_phone {
	MARGIN: 10px 0px 0px; WIDTH: 137px; FLOAT: right; HEIGHT: 27px
}
.footer3 {
	POSITION: relative; WIDTH: 1001px; HEIGHT: 120px; CLEAR: both; OVERFLOW: hidden
}
.footer3 DL {
	POSITION: relative; FLOAT: left; HEIGHT: 180px; COLOR: #000000; OVERFLOW: hidden; MARGIN-RIGHT: 115px
}
.footer3 DL DT {
	FONT-SIZE: 14px; FONT-WEIGHT: bold
}
.footer3 DL DT A:link {
	COLOR: #000000
}
.footer3 DL DT A:visited {
	COLOR: #000000
}
.footer3 DL DD {
	POSITION: relative; MARGIN: 10px 0px 0px; CLEAR: both; FONT-SIZE: 12px
}
.footer3 DL DD A:link {
	COLOR: #000000
}
.footer3 DL DD A:visited {
	COLOR: #000000
}
.coms_footer {
	POSITION: relative; TEXT-ALIGN: center; LINE-HEIGHT: 50px; MARGIN: 0px auto; WIDTH: 1001px; HEIGHT: 50px; CLEAR: both; OVERFLOW: hidden
}
.coms_footer .marginau {
	MARGIN: 0px auto; WIDTH: auto
}
.coms_footer .marginau .f_l {
	FLOAT: left
}
.sge_p {
	POSITION: absolute; TOP: 5px; LEFT: 172px
}
.sge_p A {
	LINE-HEIGHT: 40px; DISPLAY: block
}
.sge_p IMG {
	POSITION: absolute; TOP: 0px; LEFT: 50px
}
.content724 {
	POSITION: relative; MIN-WIDTH: 1000px; MARGIN: 23px auto 0px; WIDTH: 100%; HEIGHT: auto; CLEAR: both; OVERFLOW: hidden
}
.kv_ilp {
	POSITION: relative; TEXT-ALIGN: center; MARGIN: 0px auto; WIDTH: 1000px; HEIGHT: 487px; CLEAR: both
}
.content1000 {
	POSITION: relative; MARGIN: 0px auto; WIDTH: 1000px; HEIGHT: auto; CLEAR: both; OVERFLOW: hidden
}
.banner4 {
	POSITION: relative; MARGIN: 0px 0px 9px; WIDTH: 1000px; HEIGHT: auto; CLEAR: both; OVERFLOW: hidden
}
.banner4 A {
	MARGIN: 0px 0px 11px; FLOAT: left
}
.biginfo {
	POSITION: relative; WIDTH: 1000px; BACKGROUND: url(../images/indexld3/bginfo-bg.jpg) no-repeat; HEIGHT: 141px; CLEAR: both; OVERFLOW: hidden
}
.biginfo .sale9 {
	POSITION: absolute; PADDING-BOTTOM: 0px; LINE-HEIGHT: 0; MARGIN: 0px; PADDING-LEFT: 0px; WIDTH: 430px; BOTTOM: 0px; PADDING-RIGHT: 0px; BACKGROUND: url(../images/indexld3/biginfo-9sale.png) no-repeat; FLOAT: none; HEIGHT: 73px; CLEAR: both; FONT-SIZE: 0px; OVERFLOW: hidden; RIGHT: 0px; PADDING-TOP: 0px
}
.biginfo DIV {
	MARGIN: 88px 6px 0px 0px; DISPLAY: inline; FLOAT: left
}
.biginfo .word18 {
	MARGIN: 86px 6px 0px 20px; FONT-SIZE: 18px; FONT-WEIGHT: bold
}
.biginfo .input194 {
	POSITION: relative; WIDTH: 194px; BACKGROUND: url(../images/indexld3/bginfo-input.jpg) no-repeat; HEIGHT: 23px; OVERFLOW: hidden
}
.biginfo .input194 INPUT {
	BORDER-BOTTOM: 0px; POSITION: relative; BORDER-LEFT: 0px; LINE-HEIGHT: 20px; MARGIN: 1px 4px; WIDTH: 186px; HEIGHT: 20px; FONT-SIZE: 12px; OVERFLOW: hidden; BORDER-TOP: 0px; BORDER-RIGHT: 0px
}
.biginfo .btn_big1 INPUT {
	BORDER-BOTTOM: 0px; POSITION: relative; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; WIDTH: 78px; PADDING-RIGHT: 0px; BACKGROUND: url(../images/indexld3/btn-big-1.jpg) no-repeat; HEIGHT: 23px; CLEAR: both; OVERFLOW: hidden; BORDER-TOP: 0px; CURSOR: pointer; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
.biginfo .btn_big2 INPUT {
	BORDER-BOTTOM: 0px; POSITION: relative; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; WIDTH: 78px; PADDING-RIGHT: 0px; BACKGROUND: url(../images/indexld3/btn-big-2.jpg) no-repeat; HEIGHT: 23px; CLEAR: both; OVERFLOW: hidden; BORDER-TOP: 0px; CURSOR: pointer; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
.remen4 {
	POSITION: relative; WIDTH: 1000px; HEIGHT: auto; CLEAR: both; OVERFLOW: hidden
}
.remen4 H2 {
	POSITION: relative; LINE-HEIGHT: 26px; WIDTH: 100%; HEIGHT: 26px; CLEAR: both; OVERFLOW: hidden
}
.remen_one {
	BORDER-BOTTOM: #dedbda 1px solid; WIDTH: 493px; DISPLAY: inline; MARGIN-BOTTOM: 12px; BACKGROUND: #fff; FLOAT: left; HEIGHT: 112px; BORDER-TOP: #dedbda 1px solid; BORDER-RIGHT: #dedbda 1px solid
}
.remen_one H3 {
	POSITION: relative; WIDTH: 75px; BACKGROUND: #dedbda; FLOAT: left; HEIGHT: auto; OVERFLOW: hidden; BORDER-RIGHT: #e6e4df 1px solid
}
.remen_one UL {
	MARGIN: 5px; FLOAT: left
}
.remen_one UL LI {
	LINE-HEIGHT: 26px; CLEAR: both; FONT-WEIGHT: bold
}
.remen_one LI SPAN {
	POSITION: relative; MIN-WIDTH: 300px; DISPLAY: block; FLOAT: left; OVERFLOW: hidden
}
.remen_one LI SPAN.title1 {
	MIN-WIDTH: 97px; WIDTH: 97px
}
.remen_one LI A {
	PADDING-BOTTOM: 2px; PADDING-LEFT: 5px; PADDING-RIGHT: 5px; COLOR: #2e2e2e; CLEAR: both; MARGIN-RIGHT: 4px; PADDING-TOP: 2px
}
.remen_one LI A:hover {
	BACKGROUND: #99918d; COLOR: #fff
}
.remen_one LI A.remne-one-bck:hover {
	BACKGROUND: red; COLOR: #fff
}
.remen_one LI A.bck-css {
	LINE-HEIGHT: 22px; DISPLAY: inline-block; HEIGHT: 22px
}
.remen_one LI A.bck-cs2:hover {
	TEXT-ALIGN: center; LINE-HEIGHT: 22px; WIDTH: 66px; DISPLAY: inline-block; HEIGHT: 22px
}
.hover2.remen_one {
	BORDER-BOTTOM: #99918d 1px solid; BACKGROUND: #fff; BORDER-TOP: #99918d 1px solid; BORDER-RIGHT: #99918d 1px solid
}
.hover2.remen_one H3 {
	BACKGROUND: #99918d; BORDER-RIGHT: #99918d 1px solid
}
.rexiao {
	POSITION: relative; MARGIN-TOP: 12px; WIDTH: 1000px; HEIGHT: auto; CLEAR: both; OVERFLOW: hidden
}
.rexiao H3 {
	POSITION: relative; WIDTH: 100%; HEIGHT: 26px; CLEAR: both; OVERFLOW: hidden
}
.rexiao H3 SPAN {
	POSITION: absolute; COLOR: #2e2e2e; FONT-SIZE: 11px; RIGHT: 0px; FONT-WEIGHT: 400
}
.rexiao H3 SPAN A {
	MARGIN: 0px 7px 0px 5px; FONT-SIZE: 12px
}
.rexiao_top {
	POSITION: relative; WIDTH: 1000px; MARGIN-BOTTOM: 12px; HEIGHT: 31px; CLEAR: both; OVERFLOW: hidden
}
.rexiao_top DT.bgred {
	BORDER-BOTTOM: #f2f2ed 1px solid; TEXT-ALIGN: center; PADDING-BOTTOM: 0px; LINE-HEIGHT: 30px; MARGIN: 0px; PADDING-LEFT: 0px; WIDTH: 166px; PADDING-RIGHT: 0px; DISPLAY: inline; BACKGROUND: #efefe8; FLOAT: left; HEIGHT: 30px; CURSOR: pointer; BORDER-RIGHT: #ffffff 1px solid; PADDING-TOP: 0px
}
.rexiao_top DT.bgblue {
	BORDER-BOTTOM: #f2f2ed 1px solid; TEXT-ALIGN: center; PADDING-BOTTOM: 0px; LINE-HEIGHT: 30px; MARGIN: 0px; PADDING-LEFT: 0px; WIDTH: 166px; PADDING-RIGHT: 0px; DISPLAY: inline; BACKGROUND: #efefe8; FLOAT: left; HEIGHT: 30px; CURSOR: pointer; BORDER-RIGHT: #ffffff 1px solid; PADDING-TOP: 0px
}
.rexiao_top DT.hover3.bgred {
	BORDER-BOTTOM: #e7cdc1 1px solid; BACKGROUND: #e5c7b8
}
.rexiao_top DT.on3.bgred {
	BORDER-BOTTOM: #e7cdc1 1px solid; BACKGROUND: #e5c7b8
}
.rexiao_top DT.hover1.bgblue {
	BORDER-BOTTOM: #c4d8e1 1px solid; BACKGROUND: #bdd6e0
}
.rexiao_top DT.on1.bgblue {
	BORDER-BOTTOM: #c4d8e1 1px solid; BACKGROUND: #bdd6e0
}
.rexiao_cont {
	POSITION: relative; WIDTH: 1000px; HEIGHT: auto; CLEAR: both; OVERFLOW: hidden
}
.rexiao_cont DD UL LI {
	POSITION: relative; WIDTH: 200px; FLOAT: left
}
.rexiao_cont DD UL LI A {
	BORDER-BOTTOM: #fff 1px solid; BORDER-LEFT: #fff 1px solid; DISPLAY: block; BORDER-TOP: #fff 1px solid; BORDER-RIGHT: #fff 1px solid
}
.rexiao_cont DD UL LI A:hover {
	BORDER-BOTTOM-COLOR: #dfdfdf; BORDER-TOP-COLOR: #dfdfdf; BORDER-RIGHT-COLOR: #dfdfdf; BORDER-LEFT-COLOR: #dfdfdf
}
.rexiao_cont DD UL LI .title {
	TEXT-ALIGN: center; PADDING-BOTTOM: 10px; COLOR: #5e5e5e; PADDING-TOP: 15px
}
.rexiao_cont DD UL LI .price {
	TEXT-ALIGN: center
}
.delnext {
	COLOR: #b92e2e
}
.rexiao_cont DD UL LI .btn {
	TEXT-ALIGN: center; PADDING-TOP: 20px
}
.rexiao_cont DD LI .btn INPUT {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; WIDTH: 79px; BACKGROUND: url(../images/index826/dl3-btn-cart.jpg) no-repeat left top; HEIGHT: 18px; BORDER-TOP: 0px; CURSOR: pointer; BORDER-RIGHT: 0px
}
.rexiao_cont DD.hidden1 {
	DISPLAY: none
}
.rexiao .btnleft {
	POSITION: absolute; WIDTH: 11px; HEIGHT: 37px; CLEAR: both; OVERFLOW: hidden; TOP: 214px; CURSOR: pointer; LEFT: 6px
}
.rexiao .btnright {
	POSITION: absolute; WIDTH: 11px; HEIGHT: 37px; CLEAR: both; OVERFLOW: hidden; TOP: 214px; CURSOR: pointer; RIGHT: 6px
}
.zhekou {
	MARGIN-TOP: 40px
}
.icon_women {
	POSITION: relative
}
.icon_women IMG {
	POSITION: absolute; LEFT: -18px
}
.zhekou H3 SPAN A.icon_men {
	POSITION: relative; MARGIN: 0px 7px 0px 60px
}
.icon_men IMG {
	POSITION: absolute; LEFT: -20px; _left: 40px
}
.icon_remai {
	POSITION: absolute; LINE-HEIGHT: 0; WIDTH: 35px; BACKGROUND: url(../images/index826/icon-remai.png) no-repeat; HEIGHT: 35px; CLEAR: both; FONT-SIZE: 0px; OVERFLOW: hidden; TOP: 43px; RIGHT: 28px
}
.lianyi {
	POSITION: relative; MARGIN-TOP: 28px; WIDTH: 1000px; HEIGHT: auto; CLEAR: both; OVERFLOW: hidden
}
.lianyi H3 {
	POSITION: relative; WIDTH: 100%; HEIGHT: 28px; CLEAR: both; OVERFLOW: hidden
}
.lianyi H3 SPAN {
	POSITION: absolute; COLOR: #2e2e2e; FONT-SIZE: 11px; RIGHT: 0px; FONT-WEIGHT: 400
}
.lianyi H3 SPAN A {
	MARGIN: 0px 7px 0px 5px; FONT-SIZE: 12px
}
.lianyi_cont {
	POSITION: relative; MARGIN-TOP: 16px; WIDTH: 1000px; HEIGHT: auto; CLEAR: both; OVERFLOW: hidden
}
.lianyi_cont UL LI {
	POSITION: relative; WIDTH: 216px; FLOAT: left; MARGIN-RIGHT: 45px
}
.lianyi_cont UL LI A {
	BORDER-BOTTOM: #fff 1px solid; BORDER-LEFT: #fff 1px solid; DISPLAY: block; BORDER-TOP: #fff 1px solid; BORDER-RIGHT: #fff 1px solid
}
.lianyi_cont UL LI A:hover {
	BORDER-BOTTOM-COLOR: #dfdfdf; BORDER-TOP-COLOR: #dfdfdf; BORDER-RIGHT-COLOR: #dfdfdf; BORDER-LEFT-COLOR: #dfdfdf
}
.lianyi_cont UL LI .title {
	TEXT-ALIGN: center; PADDING-BOTTOM: 10px; COLOR: #5e5e5e; PADDING-TOP: 15px
}
.lianyi_cont UL LI .price {
	TEXT-ALIGN: center
}
.lianyi_cont UL LI .btn {
	TEXT-ALIGN: center; PADDING-TOP: 10px
}
.lianyi_cont LI .btn INPUT {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; WIDTH: 69px; BACKGROUND: url(../images/index826/btn-lianyi-buy.jpg) no-repeat left top; HEIGHT: 18px; BORDER-TOP: 0px; CURSOR: pointer; BORDER-RIGHT: 0px
}
.colorsize {
	POSITION: relative; TEXT-ALIGN: center; PADDING-BOTTOM: 0px; LINE-HEIGHT: 0px; MARGIN: 10px 0px 0px; PADDING-LEFT: 0px; WIDTH: 214px; PADDING-RIGHT: 0px; HEIGHT: auto; CLEAR: both; FONT-SIZE: 0px; OVERFLOW: hidden; PADDING-TOP: 0px
}
.lianyi_cont UL LI .colorsize A {
	BORDER-BOTTOM: 0px; POSITION: relative; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; LINE-HEIGHT: 0; MARGIN: 0px 6px 0px 0px; PADDING-LEFT: 0px; WIDTH: 15px; PADDING-RIGHT: 0px; DISPLAY: inline-block; HEIGHT: 15px; FONT-SIZE: 0px; OVERFLOW: hidden; BORDER-TOP: 0px; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
.txue {
	MARGIN-TOP: 35px
}
.backtotopld3 {
	Z-INDEX: 1; POSITION: fixed; WIDTH: 24px; BOTTOM: 10px; DISPLAY: none; BACKGROUND: url(../images/index826/backtotop-ld3.jpg) no-repeat; HEIGHT: 81px; CLEAR: both; OVERFLOW: hidden; RIGHT: 10px
}
.backtotopld3 A {
	POSITION: relative; WIDTH: 24px; DISPLAY: block; HEIGHT: 81px; CLEAR: both; OVERFLOW: hidden
}
.banner_right {
	Z-INDEX: 1; POSITION: fixed; WIDTH: 252px; BOTTOM: 0px; HEIGHT: 176px; CLEAR: both; OVERFLOW: hidden; RIGHT: 0px
}
.banner_right A.pica {
	POSITION: relative; WIDTH: 252px; DISPLAY: block; HEIGHT: 176px; CLEAR: both; OVERFLOW: hidden
}
.banner_right A.close {
	POSITION: absolute; WIDTH: 20px; DISPLAY: block; BACKGROUND: url(../images/indexld3/banner-right-close.png) no-repeat; HEIGHT: 18px; CLEAR: both; OVERFLOW: hidden; TOP: 5px; RIGHT: 5px
}
#bannerbig {
	Z-INDEX: 0; POSITION: absolute; WIDTH: 1400px; HEIGHT: 487px; OVERFLOW: hidden; LEFT: -200px
}
#btnbig {
	Z-INDEX: 1; POSITION: absolute; PADDING-BOTTOM: 11px; PADDING-LEFT: 6px; WIDTH: 153px; PADDING-RIGHT: 10px; BACKGROUND: url(../images/indexld3/bigkv-btn-bg.png) no-repeat 0px 0px; HEIGHT: 130px; CLEAR: both; TOP: 74px; PADDING-TOP: 5px; LEFT: -5px
}
#btnbig A {
	BORDER-BOTTOM: #f4fdfd 1px solid; POSITION: relative; BORDER-LEFT: #f4fdfd 1px solid; WIDTH: 151px; DISPLAY: block; BACKGROUND: #dcdbd6; HEIGHT: 46px; CLEAR: both; OVERFLOW: hidden; BORDER-TOP: #f4fdfd 1px solid; BORDER-RIGHT: #f4fdfd 1px solid
}
#btnbig A.activeSlide {
	BACKGROUND: #deccbf
}
#btnbig A:hover {
	BACKGROUND: #deccbf
}
.footer_bg {
	POSITION: relative; BACKGROUND: #f0f0ed
}
.mt11 {
	BORDER-BOTTOM: medium none; POSITION: relative; BORDER-LEFT: medium none; LINE-HEIGHT: 0; WIDTH: 891px; BACKGROUND: #fff; FLOAT: left; HEIGHT: 11px; FONT-SIZE: 0px; OVERFLOW: hidden; BORDER-TOP: medium none; BORDER-RIGHT: medium none
}
.icon_9sale {
	POSITION: absolute; LINE-HEIGHT: 0; WIDTH: 350px; BACKGROUND: url(../images/index826/icon-9sale.png) no-repeat 0px 0px; HEIGHT: 73px; CLEAR: both; FONT-SIZE: 0px; OVERFLOW: hidden; TOP: -10px; LEFT: 50%
}
.pink_line {
	POSITION: relative; WIDTH: 1001px; BACKGROUND: #a89e9a; HEIGHT: 1px; CLEAR: both; OVERFLOW: hidden
}
.remen_one .h3_1 {
	WIDTH: 75px; BACKGROUND: url(../images/index0318/icon-rm-1.png) no-repeat; HEIGHT: 112px
}
.remen_one .h3_2 {
	WIDTH: 75px; BACKGROUND: url(../images/index0318/icon-rm-2.png) no-repeat; HEIGHT: 112px
}
.remen_one .h3_3 {
	WIDTH: 75px; BACKGROUND: url(../images/index826/icon-rm-3.png) no-repeat; HEIGHT: 64px
}
.remen_one .h3_4 {
	WIDTH: 75px; BACKGROUND: url(../images/index826/icon-rm-4.png) no-repeat; HEIGHT: 64px
}
.hover2.remen_one .h3_1 {
	WIDTH: 75px; BACKGROUND: url(../images/index0318/icon-rm-1-hover.png) no-repeat; HEIGHT: 112px
}
.hover2.remen_one .h3_2 {
	WIDTH: 75px; BACKGROUND: url(../images/index0318/icon-rm-2-hover.png) no-repeat; HEIGHT: 112px
}
.hover2.remen_one .h3_3 {
	WIDTH: 75px; BACKGROUND: url(../images/index826/icon-rm-3-hover.png) no-repeat; HEIGHT: 64px
}
.hover2.remen_one .h3_4 {
	WIDTH: 75px; BACKGROUND: url(../images/index826/icon-rm-4-hover.png) no-repeat; HEIGHT: 64px
}
.scroll_es_kv {
	POSITION: relative; MARGIN: 10px auto; WIDTH: 1000px; HEIGHT: 629px; CLEAR: both; OVERFLOW: hidden
}
.sek_left {
	POSITION: relative; WIDTH: 227px; DISPLAY: inline; FLOAT: left; HEIGHT: auto; MARGIN-LEFT: 10px; OVERFLOW: hidden
}
.sek_left_top {
	POSITION: relative; TEXT-ALIGN: center; LINE-HEIGHT: 1.8; WIDTH: 227px; HEIGHT: auto; COLOR: #5c5b5b; CLEAR: both; OVERFLOW: hidden; PADDING-TOP: 10px
}
.sek_left_top A:link {
	MARGIN: 0px 5px; COLOR: #5c5b5b
}
.sek_left_top A:visited {
	MARGIN: 0px 5px; COLOR: #5c5b5b
}
.sek_left_top A:hover {
	COLOR: #f0d5c4
}
.sek_left UL {
	POSITION: relative; MARGIN: 33px 0px 0px 3px; WIDTH: 221px; HEIGHT: auto; CLEAR: both; OVERFLOW: hidden
}
.sek_left UL LI {
	BORDER-BOTTOM: #8b8b8b 1px solid; POSITION: relative; LINE-HEIGHT: 48px; MARGIN: 0px 0px 0px 35px; WIDTH: 151px; DISPLAY: inline; BACKGROUND: #fff; FLOAT: left; HEIGHT: 55px; CLEAR: both
}
.sek_left UL LI A:link {
	POSITION: absolute; TEXT-ALIGN: center; LINE-HEIGHT: 48px; WIDTH: 221px; DISPLAY: block; HEIGHT: 55px; COLOR: #5c5b5b; FONT-SIZE: 17px; TOP: 0px; CURSOR: pointer; LEFT: -35px
}
.sek_left UL LI A:visited {
	POSITION: absolute; TEXT-ALIGN: center; LINE-HEIGHT: 48px; WIDTH: 221px; DISPLAY: block; HEIGHT: 55px; COLOR: #5c5b5b; FONT-SIZE: 17px; TOP: 0px; CURSOR: pointer; LEFT: -35px
}
.sek_left UL LI A:hover {
	BACKGROUND: #efefe8; FONT-WEIGHT: bold
}
.sek_left UL LI .sek_select {
	BACKGROUND: #efefe8; FONT-WEIGHT: bold
}
.last_news {
	POSITION: relative; MARGIN: 35px 0px 0px; WIDTH: 227px; BACKGROUND: url(../images/new_index/scbn_bg.jpg) no-repeat 0px 0px; HEIGHT: 139px; CLEAR: both; OVERFLOW: hidden
}
.last_news_text {
	BORDER-BOTTOM: 0px; POSITION: absolute; BORDER-LEFT: 0px; WIDTH: 180px; BACKGROUND: none transparent scroll repeat 0% 0%; HEIGHT: 17px; COLOR: #979797; CLEAR: both; BORDER-TOP: 0px; TOP: 41px; BORDER-RIGHT: 0px; LEFT: 21px
}
.order_eswoman {
	BORDER-BOTTOM: 0px; POSITION: absolute; BORDER-LEFT: 0px; WIDTH: 80px; BACKGROUND: url(../images/new_index/order_woman.png) no-repeat 0px 0px; HEIGHT: 26px; CLEAR: both; BORDER-TOP: 0px; TOP: 69px; CURSOR: pointer; BORDER-RIGHT: 0px; LEFT: 28px
}
.order_man {
	BORDER-BOTTOM: 0px; POSITION: absolute; BORDER-LEFT: 0px; WIDTH: 80px; BACKGROUND: url(../images/new_index/order_man.png) no-repeat 0px 0px; HEIGHT: 26px; CLEAR: both; BORDER-TOP: 0px; TOP: 69px; CURSOR: pointer; BORDER-RIGHT: 0px; LEFT: 118px
}
.sek_middle {
	Z-INDEX: 10; POSITION: relative; WIDTH: 726px; BACKGROUND: url(../images/new_index/blank.gif); FLOAT: left; HEIGHT: 629px; MARGIN-LEFT: 37px; OVERFLOW: hidden
}
.sek_middle UL {
	POSITION: absolute; WIDTH: 726px; BACKGROUND: url(../images/new_index/blank.gif); HEIGHT: 629px; CLEAR: both; OVERFLOW: hidden; TOP: 0px; LEFT: 0px
}
.sek_middle UL LI {
	POSITION: absolute; WIDTH: 726px; HEIGHT: 629px; CLEAR: both; OVERFLOW: hidden; TOP: 0px; LEFT: 726px
}
.sek_middle UL LI IMG {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; WIDTH: 726px; HEIGHT: 629px; BORDER-TOP: 0px; BORDER-RIGHT: 0px
}
.prompt271_4 {
	Z-INDEX: 99; BOTTOM: 110px; BACKGROUND: url(../images/prompt-271-3.png) no-repeat; RIGHT: 426px
}
.tub_alt {
	WIDTH: 318px; HEIGHT: 318px; OVERFLOW: hidden
}
.tub_elt {
	POSITION: absolute; TOP: 290px; RIGHT: 126px
}
.tub_elt A {
	MARGIN-RIGHT: 4px
}
.est_hete {
	POSITION: relative; MARGIN: 0px auto; WIDTH: 1248px
}
.e_aert {
	HEIGHT: 34px
}
.e_aert .e_1 {
	POSITION: absolute; COLOR: #be2034; FONT-SIZE: 14px; TOP: 10px; LEFT: 455px
}
.e_aert .e_2 {
	POSITION: absolute; COLOR: #be2034; FONT-SIZE: 14px; TOP: 10px; RIGHT: 530px
}
.e_aert .e_3 {
	POSITION: absolute; COLOR: #6e6e6d; FONT-SIZE: 14px; TOP: 9px; RIGHT: 148px
}
.e_aert A.e_xq {
	POSITION: absolute; WIDTH: 50px; DISPLAY: block; HEIGHT: 30px; CURSOR: pointer; RIGHT: 392px
}
.e_aert A.e_myjf {
	POSITION: absolute; WIDTH: 100px; DISPLAY: block; HEIGHT: 30px; CURSOR: pointer; RIGHT: 0px
}
.sale_tip {
	TEXT-ALIGN: left; LINE-HEIGHT: 34px; PADDING-LEFT: 8px; FLOAT: left; HEIGHT: 34px
}
.login_status {
	TEXT-ALIGN: right; LINE-HEIGHT: 34px; FLOAT: right; HEIGHT: 34px
}
.qqUser {
	PADDING-RIGHT: 5px; FLOAT: left; HEIGHT: 16px
}
.qqUser .name {
	WIDTH: 230px; TEXT-OVERFLOW: ellipsis; WHITE-SPACE: nowrap; FLOAT: left; OVERFLOW: hidden
}
.my_caibei {
	PADDING-LEFT: 10px
}
.sale_tip SPAN {
	MARGIN: 0px 2px; COLOR: #cb3245; FONT-SIZE: 12px
}
.e_aert A:hover {
	COLOR: #2e2e2e; TEXT-DECORATION: underline
}
.e_aert A:visited {
	COLOR: #2e2e2e; TEXT-DECORATION: underline
}
.new_ilp .slider2 {
	POSITION: relative; TEXT-ALIGN: center; MARGIN: 20px 0px 0px; WIDTH: 1000px
}
.new_ilp .slider2 .moverwrap {
	POSITION: relative; MARGIN: 0px auto; WIDTH: 1000px; HEIGHT: 495px; OVERFLOW: hidden
}
.new_ilp .cls:after {
	DISPLAY: block; HEIGHT: 0px; VISIBILITY: hidden; CLEAR: both; FONT-SIZE: 0px; CONTENT: ""
}
.new_ilp .slider2 .moverwrap UL {
	POSITION: absolute; WIDTH: 20000px; TOP: 0px; LEFT: 0px
}
.slider2 .moverwrap UL {
	POSITION: absolute; WIDTH: 20000px; TOP: 0px; LEFT: 0px
}
.new_ilp .slider2 .agrayleft {
	DISPLAY: none; opacity: 0.4
}
.new_ilp .slider2 .agrayright {
	DISPLAY: none; opacity: 0.4
}
.slider2 .agrayleft {
	DISPLAY: none; opacity: 0.4
}
.slider2 .agrayright {
	DISPLAY: none; opacity: 0.4
}
.new_ilp A.agrayleft {
	CURSOR: default; opacity: 0.6
}
.gallery A.agrayleft {
	CURSOR: default; opacity: 0.6
}
.new_ilp A.aleft {
	BACKGROUND-POSITION: left top; LEFT: 30px
}
.gallery A.aleft {
	BACKGROUND-POSITION: left top; LEFT: 30px
}
.new_ilp A.abtn {
	POSITION: absolute; TEXT-INDENT: -20000px; WIDTH: 22px; DISPLAY: none; BACKGROUND: url(../images/sprite_icon.jpg) no-repeat 0px 0px; HEIGHT: 43px; OVERFLOW: hidden; TOP: 59px
}
.gallery A.abtn {
	POSITION: absolute; TEXT-INDENT: -20000px; WIDTH: 22px; DISPLAY: none; BACKGROUND: url(../images/sprite_icon.jpg) no-repeat 0px 0px; HEIGHT: 43px; OVERFLOW: hidden; TOP: 59px
}
.new_ilp A.aright {
	BACKGROUND-POSITION: left -43px; RIGHT: 20px
}
.gallery A.aright {
	BACKGROUND-POSITION: left -43px; RIGHT: 20px
}
.new_ilp A.agrayright {
	CURSOR: default; opacity: 0.6
}
.gallery A.agrayright {
	CURSOR: default; opacity: 0.6
}
.slider2 .moverwrap {
	POSITION: relative; MARGIN: 0px auto; WIDTH: 1000px; HEIGHT: 495px; OVERFLOW: hidden
}
.gallery UL LI {
	WIDTH: 200px; FLOAT: left
}
.gallery UL LI A {
	BORDER-BOTTOM: #fff 1px solid; BORDER-LEFT: #fff 1px solid; DISPLAY: block; BORDER-TOP: #fff 1px solid; BORDER-RIGHT: #fff 1px solid
}
.gallery UL LI A:hover {
	BORDER-BOTTOM-COLOR: #dfdfdf; BORDER-TOP-COLOR: #dfdfdf; BORDER-RIGHT-COLOR: #dfdfdf; BORDER-LEFT-COLOR: #dfdfdf
}
.gallery UL LI .title {
	TEXT-ALIGN: center; PADDING-BOTTOM: 10px; COLOR: #5e5e5e; PADDING-TOP: 15px
}
.gallery UL LI .price {
	TEXT-ALIGN: center
}
.gallery UL LI .btn {
	TEXT-ALIGN: center; PADDING-TOP: 20px
}
.gallery UL LI .btn INPUT {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; WIDTH: 79px; BACKGROUND: url(../images/indexld/btn-cart-ilp.jpg) no-repeat left top; HEIGHT: 18px; BORDER-TOP: 0px; CURSOR: pointer; BORDER-RIGHT: 0px
}
.gallery UL LI .btn2 {
	TEXT-ALIGN: center; PADDING-TOP: 20px
}
.gallery UL LI .btn2 INPUT {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; WIDTH: 79px; BACKGROUND: url(../images/index826/dl3-btn-cart.jpg) no-repeat left top; HEIGHT: 18px; BORDER-TOP: 0px; CURSOR: pointer; BORDER-RIGHT: 0px
}
.gallery .cls:after {
	DISPLAY: block; HEIGHT: 0px; VISIBILITY: hidden; CLEAR: both; FONT-SIZE: 0px; CONTENT: ""
}
.slider2 {
	POSITION: relative; TEXT-ALIGN: center; MARGIN: 20px 0px 0px; WIDTH: 1000px
}
.new_ilp .gallery UL LI .btnt INPUT {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; WIDTH: 76px; BACKGROUND: url(../images/ljgoumai.jpg) no-repeat left top; HEIGHT: 20px; BORDER-TOP: 0px; CURSOR: pointer; BORDER-RIGHT: 0px
}
.new_ilp .gallery UL LI .btnt {
	TEXT-ALIGN: center; PADDING-TOP: 20px
}
.lang_tiet {
	MARGIN: 25px auto 0px; WIDTH: 500px; OVERFLOW: hidden
}
.lang_tiet DIV {
	FLOAT: left
}
.new_ilp .gallery UL LI {
	WIDTH: 250px; MARGIN-BOTTOM: 15px; FLOAT: left; HEIGHT: 493px
}
.kv_landingpage {
	POSITION: relative; TEXT-ALIGN: center; MARGIN: 5px; WIDTH: 1000px; HEIGHT: 503px; CLEAR: both
}
.folter {
	POSITION: absolute; WIDTH: 131px; BACKGROUND: url(../images/flor_new.png) no-repeat left top; HEIGHT: 132px; TOP: 16px; LEFT: 16px
}
.folter SPAN {
	POSITION: absolute; FONT-FAMILY: "????"; FONT-SIZE: 40px; TOP: 38px; LEFT: 45px
}
IMG.navilabel {
	POSITION: absolute; TOP: 6px; RIGHT: -28px
}
.chrimas_all {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 26px; PADDING-RIGHT: 23px; OVERFLOW: hidden; PADDING-TOP: 0px
}
.slider1_t {
	POSITION: relative; MARGIN: 0px auto; WIDTH: 668px; HEIGHT: 418px; CLEAR: both
}
.xmasste_lef {
	MARGIN-TOP: 41px; FLOAT: left
}
.slider1_t .moverwrap {
	POSITION: absolute; MARGIN: 0px auto; WIDTH: 668px; HEIGHT: 418px; OVERFLOW: hidden
}
.slider1_t .moverwrap UL LI {
	WIDTH: 668px
}
A.alef_t {
	POSITION: absolute; TEXT-INDENT: -20000px; WIDTH: 20px; BACKGROUND: url(../images/christmas_l/slideshow_left_arrow_white.png) no-repeat; HEIGHT: 39px; TOP: 197px; LEFT: 10px
}
A.arigh_t {
	POSITION: absolute; TEXT-INDENT: -20000px; WIDTH: 20px; BACKGROUND: url(../images/christmas_l/slideshow_right_arrow_white.png) no-repeat; HEIGHT: 39px; TOP: 197px; RIGHT: 50px
}
.xmasste_rigt {
	MARGIN-TOP: 18px; FLOAT: right; OVERFLOW: hidden
}
.xmate_clsete {
	POSITION: absolute; TOP: 18px; CURSOR: pointer; RIGHT: 25px
}
.xmate_clsete .globay_closet {
	WIDTH: 35px; PADDING-RIGHT: 22px; BACKGROUND: url(../images/christmas_l/globallayer_close.jpg) no-repeat 21px -8px; HEIGHT: 34px
}
.xmast_eent {
	MARGIN-TOP: 37px
}
.chrf_t_tite {
	MARGIN-TOP: 48px; OVERFLOW: hidden
}
.shopbanner_centes_t {
	MARGIN-TOP: 45px; OVERFLOW: hidden
}
.shppba_enteret {
	TEXT-ALIGN: center; MARGIN-TOP: 32px
}
.shppba_enteret IMG {
	CURSOR: pointer
}
.slider1_t .moverwrap {
	POSITION: absolute; MARGIN: 0px auto; WIDTH: 668px; HEIGHT: 418px; OVERFLOW: hidden
}
.slider1_t .moverwrap UL LI {
	FLOAT: left
}
