
input.radio {margin: 0 2px 0 8px;}
input.radio.first {margin-left:0;}
input.empty {color: lightgray;}
code {color: #2f332a;}
.highlight_red {color:#A60000;}
.highlight_green {color:#A7F43D;}
ul.list {margin-left: 17px;}

div.content_wrap {width: 600px;height:380px;}
div.content_wrap div.left{float: left;width: 250px;}
div.content_wrap div.right{float: right;width: 340px;}
div.zTreeDemoBackground {width:250px;height:362px;text-align:left;}

ul.ztree {margin: 10px 0 0 0;width:220px;height:auto;}
ul.log {border: 1px solid #617775;background: #f0f6e4;width:300px;height:170px;overflow: hidden;}
ul.log.small {height:45px;}
ul.log li {color: #666666;list-style: none;padding-left: 10px;}
ul.log li.dark {background-color: #E3E3E3;}

/* ruler */
div.ruler {height:20px; width:220px; background-color:#f0f6e4;border: 1px solid #333; margin-bottom: 5px; cursor: pointer}
div.ruler div.cursor {height:20px; width:30px; background-color:#3C6E31; color:white; text-align: right; padding-right: 5px; cursor: pointer}









.ztree * {padding:0; margin:0; font-size:12px; font-family: Verdana, Arial, Helvetica, AppleGothic, sans-serif}
.ztree {margin:0; padding:5px; color:#333}
.ztree li{padding:0; margin:0; list-style:none; line-height:16px; text-align:left; white-space:nowrap; outline:0}
.ztree li ul{ margin:0; padding:0 0 0 18px}
.ztree li ul.line{ background:url(../images/main/line_conn.gif) 0 0 repeat-y;}

.ztree li a {line-height:1; box-sizing:content-box; -moz-box-sizing:content-box; padding:3px 3px 3px 0; margin:0; cursor:pointer; height:17px; color:#333; background-color: transparent;
	text-decoration:none; vertical-align:top; display: inline-block}
.ztree li a:hover {background:#27A2C5; color:#fff!important;}
.ztree li a.curSelectedNode {background-color:#0d6780; color:#fff!important; height:16px; opacity:0.8;}
.ztree li a.curSelectedNode_Edit {padding-top:0px; background-color:#FFE6B0; color:black; height:16px; border:1px #FFB951 solid; opacity:0.8;}
.ztree li a.tmpTargetNode_inner {padding-top:0px; background-color:#316AC5; color:white; height:16px; border:1px #316AC5 solid;
	opacity:0.8; filter:alpha(opacity=80)}
.ztree li a.tmpTargetNode_prev {}
.ztree li a.tmpTargetNode_next {}
.ztree li a input.rename {height:14px; width:80px; padding:0; margin:0;
	font-size:12px; border:1px #7EC4CC solid; *border:0px}
.ztree li span {line-height:16px; margin-right:2px}
.ztree li span.button {line-height:0; margin:0; width:16px; height:16px; display: inline-block; vertical-align:middle;
	border:0 none; cursor: pointer;outline:none; border-radius:0;
	background-color:transparent; background-repeat:no-repeat; background-attachment: scroll;
	background-image:url("../images/zTreeStandard-blue.png");}
.ztree li span.button:active{background-color:transparent!important;}

.ztree li span.button.chk {margin:0 3px 0 0; cursor: auto}
.ztree li span.button.chk.checkbox_false_full {background:url(../images/wmi/blacks/16x16/checkbox_unchecked.png) no-repeat 0 0;}
.ztree li span.button.chk.checkbox_false_full_focus {background:url(../images/wmi/blacks/16x16/checkbox_unchecked.png) no-repeat 0 0; opacity:0.6;}
.ztree li span.button.chk.checkbox_false_part {background:url(../images/wmi/blacks/16x16/checkbox_unchecked.png) no-repeat 0 0;}
.ztree li span.button.chk.checkbox_false_part_focus {background:url(../images/wmi/blacks/16x16/checkbox_unchecked.png) no-repeat 0 0; opacity:0.6;}
.ztree li span.button.chk.checkbox_false_disable {background:url(../images/wmi/blacks/16x16/checkbox_unchecked.png) no-repeat 0 0; opacity:0.3;}
.ztree li span.button.chk.checkbox_true_full {background:url(../images/wmi/blacks/16x16/checkbox_checked.png) no-repeat 0 0;}
.ztree li span.button.chk.checkbox_true_full_focus {background:url(../images/wmi/blacks/16x16/checkbox_checked.png) no-repeat 0 0; opacity:0.6;}
.ztree li span.button.chk.checkbox_true_part {background:url(../images/wmi/blacks/16x16/checkbox_checked.png) no-repeat 0 0;}
.ztree li span.button.chk.checkbox_true_part_focus {background:url(../images/wmi/blacks/16x16/checkbox_checked.png) no-repeat 0 0; opacity:0.6;}
.ztree li span.button.chk.checkbox_true_disable {background:url(../images/wmi/blacks/16x16/checkbox_checked.png) no-repeat 0 0; opacity:0.3;}
.ztree li span.button.chk.radio_false_full {background:url(../images/wmi/blacks/16x16/radio.png) no-repeat 0 0;}
.ztree li span.button.chk.radio_false_full_focus {background:url(../images/wmi/blacks/16x16/radio.png) no-repeat 0 0; opacity:0.6;}
.ztree li span.button.chk.radio_false_part {background:url(../images/wmi/blacks/16x16/radio.png) no-repeat 0 0;}
.ztree li span.button.chk.radio_false_part_focus {background:url(../images/wmi/blacks/16x16/radio.png) no-repeat 0 0; opacity:0.6;}
.ztree li span.button.chk.radio_false_disable {background:url(../images/wmi/blacks/16x16/radio.png) no-repeat 0 0; opacity:0.3;}
.ztree li span.button.chk.radio_true_full {background:url(../images/wmi/blacks/16x16/radio_checked.png) no-repeat 0 0;}
.ztree li span.button.chk.radio_true_full_focus {background:url(../images/wmi/blacks/16x16/radio_checked.png) no-repeat 0 0; opacity:0.6;}
.ztree li span.button.chk.radio_true_part {background:url(../images/wmi/blacks/16x16/radio_checked.png) no-repeat 0 0;}
.ztree li span.button.chk.radio_true_part_focus {background:url(../images/wmi/blacks/16x16/radio_checked.png) no-repeat 0 0; opacity:0.6;}
.ztree li span.button.chk.radio_true_disable {background:url(../images/wmi/blacks/16x16/radio_checked.png) no-repeat 0 0; opacity:0.3;}

.ztree li span.button.switch {width:18px; height:22px; overflow:hidden;}
.ztree li span.button.root_open{background-position:-92px -52px}
.ztree li span.button.root_close{background-position:-74px -52px}
.ztree li span.button.roots_open{background-position:-92px 2px}
.ztree li span.button.roots_close{background-position:-74px 2px}
.ztree li span.button.center_open{background-position:-92px -16px}
.ztree li span.button.center_close{background-position:-74px -16px}
.ztree li span.button.bottom_open{background-position:-92px -34px}
.ztree li span.button.bottom_close{background-position:-74px -34px}
.ztree li span.button.noline_open{background-position:-92px -70px}
.ztree li span.button.noline_close{background-position:-74px -70px}
.ztree li span.button.root_docu{ background:none;}
.ztree li span.button.roots_docu{background-position:-56px 2px}
.ztree li span.button.center_docu{background-position:-56px -16px}
.ztree li span.button.bottom_docu{background-position:-56px -34px}
.ztree li span.button.noline_docu{ background:none;}

.ztree li span.button.ico_open{margin-right:5px; background:url(../images/wmi/blacks/16x16/folder_open.png) no-repeat 0 0; vertical-align:top; *vertical-align:middle}
.ztree li span.button.ico_close{margin-right:5px; background:url(../images/wmi/blacks/16x16/folder.png) no-repeat 0 0; vertical-align:top; *vertical-align:middle}
.ztree li span.button.ico_docu{margin-right:5px; background:url(../images/wmi/blacks/16x16/document.png) no-repeat 0 0; vertical-align:top; *vertical-align:middle}
.ztree li span.button.edit {margin-right:2px; background:url(../images/wmi/blacks/16x16/doc_edit.png) no-repeat 0 0; vertical-align:top; *vertical-align:middle}
.ztree li span.button.remove {margin-right:2px; background:url(../images/wmi/blacks/16x16/delete.png) no-repeat 0 0; vertical-align:top; *vertical-align:middle}

.ztree li span.button.ico_loading{margin-right:2px; background:url(./img/loading.gif) no-repeat scroll 0 0 transparent; vertical-align:top; *vertical-align:middle}

ul.tmpTargetzTree {background-color:#FFE6B0; opacity:0.8; filter:alpha(opacity=80)}

span.tmpzTreeMove_arrow {width:16px; height:16px; display: inline-block; padding:0; margin:2px 0 0 1px; border:0 none; position:absolute;
	background-color:transparent; background-repeat:no-repeat; background-attachment: scroll;
	background-position:-110px -80px; background-image:url("../images/zTreeStandard-blue.png");}

ul.ztree.zTreeDragUL {margin:0; padding:0; position:absolute; width:auto; height:auto;overflow:hidden; background-color:#cfcfcf; border:1px #00B83F dotted; opacity:0.8; filter:alpha(opacity=80)}
.zTreeMask {z-index:10000; background-color:#cfcfcf; opacity:0.0; filter:alpha(opacity=0); position:absolute}

.tree-control{padding:0;}
.tree-control a:link,.tree-control a:visited
{
display:inline-block;
text-decoration:none;
color:#767676;
font-size:12px;
height:25px;
line-height:25px;
border:1px solid #ccc;
border-radius:4px;
margin:0 5px 0 0;
text-align:center;
background: -webkit-gradient(linear, 0 0, 0 100%, from(#f3f3f3), to(#dfdfdf));
background:-moz-linear-gradient(top,#f3f3f3,#dfdfdf);
padding:0 5px 0 5px;
}
.tree-control a:hover
{
background:#6d6d6d;
color:#fff;
}
.tree-title{padding:20px 0 0 20px; margin:0 0 -10px 0; font-size:15px; font-weight:bold;}
