body
{
position:relative;
margin:0 auto;
padding:0;
font-size:12px;
color:#111;
line-height:1.2;
}
div,span,textarea,ul,li,dl,dt,dd,label,img,p,h1,h2,h3,h4,h5,h6,h7,h8,h9,h10,table,tr,th,td,em
{
position:relative;
margin:0;
padding:0;
border:0;
font-family:"Microsoft YaHei";
list-style-type:none;
line-height:1.2;
word-wrap:break-word;
box-sizing:border-box;
-moz-box-sizing:border-box;
}
table
{
font-size:12px;
}
textarea
{
font-size:12px;
}
h5
{
font-size:12px;
}
input
{
font-family:"Microsoft YaHei";
box-sizing:border-box;
-moz-box-sizing:border-box;
}
select
{
margin:0;
padding:0;
border:1px solid #ccc;
box-sizing:border-box;
-moz-box-sizing:border-box;
/* background:#fff!important;      */ /* 涓轰粈涔堣鍔犺繖涓紝鍔犱簡鍚庡埌澶勯兘娌℃硶鎺у埗浜�*/
}
em
{
font-style:normal;
}
.fLeft
{
float:left!important;
}
.fRight
{
float:right!important;
}
.left
{
text-align:left!important;
}
.right
{
text-align:right!important;
}
.center
{
text-align:center!important;
}
.tCenter
{
text-align:center!important;
}
.hidden
{
overflow:hidden;
}
.border-grey
{
border:1px solid #dddddd!important;
}
.border-qian-grey
{
border:1px solid #cfcfcf!important;
}
.border-blue
{
border:1px solid #27435b!important;
}
.m0
{
margin:0!important;
}
.mt0
{
margin-top:0!important;
}
.mt5
{
margin-top:5px!important;
}
.mt10
{
margin-top:10px!important;
}
.mt15
{
margin-top:15px!important;
}
.mt20
{
margin-top:20px!important;
}
.ml0
{
margin-left:0!important;
}
.ml5
{
margin-left:5px!important;
}
.ml10
{
margin-left:10px!important;
}
.mr0
{
margin-right:0!important;
}
.mr5
{
margin-right:5px!important;
}
.mr10
{
margin-right:10px!important;
}
.mb0
{
margin-bottom:0!important;
}
.mb5
{
margin-bottom:5px!important;
}
.mb10
{
margin-bottom:10px!important;
}
.mt10
{
margin-top:10px!important;
}
.mt15
{
margin-top:15px!important;
}
.mt20
{
margin-top:20px!important;
}
.mt30
{
margin-top:30px!important;
}
.mr10
{
margin-right:10px!important;
}
.mr15
{
margin-right:15px!important;
}
.mr20
{
margin-right:20px!important;
}
.mr30
{
margin-right:30px!important;
}
.mb10
{
margin-bottom:10px!important;
}
.mb15
{
margin-bottom:15px!important;
}
.mb20
{
margin-bottom:20px!important;
}
.mb30
{
margin-bottom:30px!important;
}
.ml10
{
margin-left:10px!important;
}
.ml15
{
margin-left:15px!important;
}
.ml20
{
margin-left:20px!important;
}
.ml30
{
margin-left:30px!important;
}


.p0
{
padding:0!important;
}
.p5
{
padding:5px!important;
}
.p10
{
padding:10px!important;
}
.pt0
{
padding-top:0!important;
}
.pr0
{
padding-right:0!important;
}
.pb0
{
padding-bottom:0!important;
}
.pl0
{
padding-left:0!important;
}
.pt7
{
padding-top:7px!important;
}
.pt10
{
padding-top:10px!important;
}
.pt15
{
padding-top:15px!important;
}
.pt20
{
padding-top:20px!important;
}
.pt30
{
padding-top:30px!important;
}
.pr10
{
padding-right:10px!important;
}
.pr15
{
padding-right:15px!important;
}
.pr20
{
padding-right:20px!important;
}
.pr30
{
padding-right:30px!important;
}
.pb10
{
padding-bottom:10px!important;
}
.pb15
{
padding-bottom:15px!important;
}
.pb20
{
padding-bottom:20px!important;
}
.pb30
{
padding-bottom:30px!important;
}
.pl5
{
padding-left:5px!important;
}
.pl10
{
padding-left:10px!important;
}
.pl15
{
padding-left:15px!important;
}
.pl20
{
padding-left:20px!important;
}
.pl30
{
padding-left:30px!important;
}



a
{
text-decoration:none;
color:#767676;
box-sizing:border-box;
-moz-box-sizing:border-box;
}
.clear
{
clear:both!important;
}
.clear-line
{
clear:both;
width:100%;
height:0;
overflow:hidden;
background:url(../images/main/blank.gif);
}
.common-line
{
width:100%;
height:auto;
overflow:hidden;
}
.width-percent100
{
width:100%!important;
}
.width-percent50
{
width:50%!important;
}
.width-percent35
{
width:35%!important;
}
.height1
{
height:1px!important;
}
.height10
{
height:10px!important;
}
.height20
{
height:20px!important;
}
.height30
{
height:30px!important;
}
.height40
{
height:40px!important;
}
.height50
{
height:50px!important;
}
.font20
{
font-size:20px!important;
}
.bold
{
font-weight:bold!important;
}
.border0
{
border:0!important;
}
.block
{
display:block!important;
}
.none
{
display:none!important;
}
.display-inline
{
display:inline!important;
}
.width-auto
{
width:auto!important;
}
.clear-none
{
clear:none!important;
}
.light-grey
{
color:#c1c1c1;
}
input[type="radio"],input[type="checkbox"]
{
width:13px;
height:13px;
box-sizing:content-box;
-moz-box-sizing:content-box;
-ms-box-sizing:content-box;
}
input[type="text"]
{
outline:none;
color:#767676;
font-size:12px;
}
.all
{
clear:both;
width:100%;
height:auto;
overflow:hidden;
margin:0 auto;
min-width:850px;
}
header
{
clear:both;
position:relative;
width:100%;
height:100px;
z-index:5;
background:#2d3033;
min-width:850px;
}
header .head-inform
{
display:inline-block;
height:100px;
float:left;
overflow:hidden;
font-size:24pt;
font-weight:bold;
color:#fff;
line-height:120px;
text-align:right;
background:#fff;
overflow:hidden;
background:url(../images/main/logo-new-more.png) no-repeat 20px center;
padding:0 5px 0 100px;
}
header .head-inform span
{
color:#27a2c5;
font-size:30pt;
}
.login-inform
{
clear:both;
position:absolute;
display:inline;
right:0;
top:0;
width:320px;
height:100px;
z-index:6;
color:#fff;
background:#272829;
white-space:nowrap;
border-left:1px solid #454647;
}
.login-name-inform
{
clear:both;
display:block;
width:100%;
overflow:hidden;
border-bottom:1px solid #454647;
}

.head-dia-cur
{
display:inline-block;
box-sizing:content-box;
-moz-box-sizing:content-box;
overflow:hidden;
white-space:nowrap;
height:26px;
line-height:26px;
z-index:1;
cursor:pointer;
color:#fff!important;
}
.head-dia-cur > span
{
display:inline-block;
width:85px;
word-break:keep-all;
word-wrap:normal;
overflow:hidden;
line-height:2;
}
.head-cust-inform
{
float:left;
width:85px;
padding:7px 10px 7px 35px;
background:url(../images/wmi/white/16x16/user.png) no-repeat 10px center;
}
.head-store
{
float:left;
width:85px;
padding:7px 10px 7px 35px;
background:url(../images/wmi/white/16x16/home.png) no-repeat 10px center;
}
.head-update
{
float:right;
width:16px;
padding:7px 6px 7px 6px;
background:url(../images/wmi/white/16x16/cog.png) no-repeat center center;
}
.head-end
{
float:right;
width:16px;
padding:7px 6px 7px 6px;
background:url(../images/wmi/white/16x16/on-off.png) no-repeat center center;
}
.head-control-word
{
display:inline-block;
height:20px;
line-height:20px;
float:left;
margin:8px 10px 0 11px;
padding:0 7px 0 7px;
color:#fff;
border-radius:10px;
transition:background-color 0.25s ease 0s;
}
.head-control-word:hover
{
background:#27a1c5;
}
.head-control-word:active
{
background:#0d6780;
}

.head-dia-cur.selected
{
background-color:#27a1c5;
}
.head-right-control-dialog
{
display:none;
clear:both;
position:absolute;
width:100%;
height:60px;
left:0;
top:40px;
overflow:hidden;
background:#27a1c5;
padding:10px;
}
.head-right-control-dialog p{
line-height:1.5;
}


.store-list
{
clear:both;
width:100%;
}
.store-list li
{
clear:both;
width:100%;
overflow:hidden;
padding:5px 0 5px 0;
border-top:1px solid #cdcdcd;
}
.store-list li:first-child
{
border:0;
}
.store-list li a:link,.store-list li a:visited
{
display:inline-block;
width:100%;
padding:2px 7px 2px 7px;
text-align:left;
color:#fff;
border-radius:10px;
}
.store-list a:hover
{
transition:background-color 0.25s ease 0s;
background:#2d3033;
}
.search-text
{
clear:both;
width:300px;
overflow:hidden;
background:#fff;
border-radius:10px;
margin:5px 0 0 10px;
}
.search-text input[type="text"]
{
width:270px;
height:18px;
padding:2px 5px 2px 5px;
border:0;
outline:none;
background:none;
}
.search-text a:link,.search-text a:visited
{
clear:both;
position:absolute;
display:block;
width:16px;
height:15px;
background:url(../images/main/set-large.png) no-repeat 0 0;
top:3px;
right:2px;
}
/* menu start*/
dl.ui-nps-menu
{
clear:both;
position:absolute;
display:inline;
height:37px;
font-size:14px;
z-index:3;
top:55px;
left:310px;
z-index:7;
background:#0d6780;
padding:0 10px 0 10px;
border-radius:5px;
}
dl.ui-nps-menu dd
{
display:inline;
width:90px;
float:left;
height:auto;
text-align:center;
z-index:3;
}
dl.ui-nps-menu dd > a:link,
dl.ui-nps-menu dd > a:visited
{
display:block;
width:100%;
box-sizing:border-box;
-moz-box-sizing:border-box;
text-align:center;
background:#0d6780;
color:#fff;
z-index:3;
padding:10px 0 10px 0;
}

dl.ui-nps-menu .menu-dashboard a:link,
dl.ui-nps-menu .menu-dashboard a:visited
{
background:#ff962b;
}

dl.ui-nps-menu .menu-dashboard a:active
{
background:#0d6780!important;
}


dl.ui-nps-menu ul
{
    clear:both;
    position:absolute;
    display:none;
    box-sizing:border-box;
    height:auto;
    left:0;
    top:45px;
    background:#27a2c5;
    min-width:100%;
}
dl.ui-nps-menu ul li
{
    clear:both;
    height:auto;
    background:#27a2c5;
    white-space:nowrap;
}
dl.ui-nps-menu ul li a:link,
dl.ui-nps-menu ul li a:visited
{
    display:block;
    padding:7px 40px 7px 8px;
    cursor:pointer;
    text-align:left;
    color:#fff;
    font-size:12px;
    white-space:nowrap;
}
dl.ui-nps-menu ul li a:hover
{
	transition:background-color 0.25s ease 0s;
    color:#fff;
}
dl.ui-nps-menu ul li .selected
{
    box-sizing:border-box;
    background:#2d3033;
    color:#fff!important;
}
dl.ui-nps-menu ul li ul
{
    left:98%;
    top:8px;
    z-index:1;
}

dl.ui-nps-menu span.more
{
    clear:both;
    position:absolute;
	width:16px;
	height:16px;
	overflow:hidden;
	background:url(../images/wmi/white/16x16/playback_play2.png) no-repeat 0 5px;
    right:5px;
    top:5px;
	color:#fff;
	text-indent:1000px;
}


.header-screen
{
height:137px;
}
.header-screen dl.ui-nps-menu
{
display:block;
width:100%;
border-radius:0;
left:0;
top:100px;
}
.header-screen .login-inform
{
z-index:8;
}
.notice.notice-screen
{
top:137px;
}
/* menu end*/

.dash-center
{
width:100%;
padding:10px;
border:1px solid #dddddd;
text-align:center;
font-size:20px;
margin-bottom:10px;
}




.loading
{
clear:both;
display:none;
position:absolute;
width:100%;
height:100%;
left:0;
top:0;
z-index:1;
padding:15px 0 0 0;
background:#fff;
text-align:center;
overflow:hidden;
vertical-align:middle;
}
.loading tr{height:100%;vertical-align:middle;}
.loading div
{
clear:both;
display:inline-block;
margin:0 auto;
overflow:hidden;
padding:20px;
background:#FFC;
border:1px solid #b5902d;
border-radius:10px;
color:#069;
}
.loading h5
{
clear:both;
display:inline-block;
height:50px;
overflow:hidden;
padding:0 0 0 55px;
background:url(../images/main/284.gif) no-repeat 0 center;
line-height:50px;
font-size:15px;
font-weight:bold;
margin:0 auto;
}
.loading p
{
clear:both;
width:270px;
overflow:hidden;
text-align:left;
line-height:1.8;
margin:10px 0 0 0;
color:#9d5400;
}



.content
{
clear:both;
width:100%;
height:auto;
overflow:hidden;
padding:0 0 20px 0;
min-width:850px;
}
.table-if
{
width:100%;
height:550px;
box-sizing:border-box;
overflow-x:hidden;
overflow-y:scroll;
border:0;
background:#fff;
}

.inform-person
{
/* clear:both; */
width:100%;
margin:0 0 0 0;
box-sizing:border-box;
}


.inform-person  th
{
text-align:center;
padding:6px 0 6px 0;
background:-webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e8e8e8));
background:-moz-linear-gradient(top, #ffffff, #e8e8e8);
color:#777;
top:expression(document.getElementById("diva").scrollTop-1); 
position:relative; 
}
.inform-person tbody td
{
box-sizing:border-box;
text-align:center;
padding:5px 0 5px 0;
background:#fff;
}
.inform-person tbody .odd td
{
background:#f1f1f1;
}
.inform-person .ui-state-hover td,.inform-person .odd.ui-state-hover td
{
background:#f9f9d4;
}
.inform-person tfoot td
{
box-sizing:border-box;
text-align:center;
padding:15px 0 15px 0;
background:#fff;
margin-top:10px;
}
.ui-loxia-default
{
display:inline;
width:160px;
box-sizing:border-box;
border:1px solid #ccc;
border-radius:3px;
padding:3px;
color:#999;
background:#ededed;
outline:none;
}
.ui-loxia-highlight
{
background:#fff;
}
.ui-loxia-active
{
background:#fff;
}
.loxiaTip
{
z-index:500;
}
.loxiaTip-r .arrow
{
width:10px;
height:12px;
background:url(../images/main/left-point.png) no-repeat 0 0;
float:left;
margin:7px 0 0 0;
z-index:1;
}
.loxiaTip-r .ui-corner-all
{
position:relative;
float:left;
padding:10px;
overflow:hidden;
border:1px solid #dfdfdf;
border-radius:3px;
background:#ededed;
margin:0 0 0 -1px;
}

.ui-button
{
display:inline-block;
border-radius:4px;
text-align:center;
padding:8px 10px;
color:#f1f1f1;
background-color:#333;
cursor:pointer;
font-size:12px;
cursor:pointer;
border:0;
background-repeat:no-repeat;
}
input[type="text"].ui-button
{
background: none repeat scroll 0 0 #EDEDED;
border: 1px solid #CCCCCC;
border-radius: 3px 3px 3px 3px;
color: #999999;
display: inline;
outline: medium none;
padding: 3px;
width: 160px;
}
.ui-button:hover
{
transition:background-color 0.25s ease 0s;
background-color:#555;
}
.ui-button:active
{
color:#fff!important;
background-color:#2D3033!important;
}
.ui-button.orange
{
background-color:#e84117;
}
.ui-button.orange:hover
{
background-color:#FB5000;
}



.ui-button.add-button
{
padding:5px 5px 5px 30px;
background-image:url(../images/wmi/white/16x16/doc_plus.png);
background-position:5px center;
}
.ui-button.add-button.mini-button
{
padding:5px 5px 5px 30px;
background-image:url(../images/wmi/white/16x16/doc_minus.png);
background-position:5px center;
}
.ui-button.mail-button
{
padding:5px 5px 5px 25px;
background-image:url(../images/wmi/white/16x16/mail.png);
background-position:5px center;
}
.ui-button.copy-button
{
padding:5px 5px 5px 25px;
background-image:url(../images/wmi/white/16x16/clipboard_copy.png);
background-position:5px center;
}





.button
{
display:inline-block;
border-radius:4px;
text-align:center;
padding:8px 10px;
color:#f1f1f1;
background-color:#333;
cursor:pointer;
font-size:12px;
cursor:pointer;
border:0;
background-repeat:no-repeat;
}
input[type="text"].button
{
background: none repeat scroll 0 0 #EDEDED;
border: 1px solid #CCCCCC;
border-radius: 3px 3px 3px 3px;
color: #999999;
display: inline;
outline: medium none;
padding: 3px;
width: 160px;
}
.button:hover
{
transition:background-color 0.25s ease 0s;
background-color:#555;
}
.button:active
{
color:#fff!important;
background-color:#2D3033!important;
}
.button.orange
{
background-color:#e84117;
}
.button.orange:hover
{
background-color:#FB5000;
}



.button.add-button
{
padding:5px 5px 5px 30px;
background-image:url(../images/wmi/white/16x16/doc_plus.png);
background-position:5px center;
}
.button.add-button.mini-button
{
padding:5px 5px 5px 30px;
background-image:url(../images/wmi/white/16x16/doc_minus.png);
background-position:5px center;
}
.button.mail-button
{
padding:5px 5px 5px 25px;
background-image:url(../images/wmi/white/16x16/mail.png);
background-position:5px center;
}
.button.copy-button
{
padding:5px 5px 5px 25px;
background-image:url(../images/wmi/white/16x16/clipboard_copy.png);
background-position:5px center;
}
input[type="button"][disabled="disabled"]
{
opacity:0.4;
cursor:default!important;
}


.tbl-action-bar
{
text-align:left;
padding:0 0 0 10px;
margin:0 0 -10px 0;
}
.ui-title1
{
width:100%;
padding:0 0 5px 37px;
line-height:32px;
text-align:left;
font-size:24px;
color:#2d3033;
margin:0 0 5px 0;
}
.ui-title1 img
{
clear:both;
position:absolute;
left:0;
top:0;
}
.ui-title1 .button
{
float:right;
margin:0 0 0 10px;
}



/*arrow-s*/
.arrow-rthin, .arrow-rthin s {
border-color: transparent transparent transparent #fafafa;
border-left-style: solid;
}
.arrow-s, .arrow-s s {
position: absolute;
display: inline-block;
font-size: 0;
line-height: 0;
width: 0;
height: 0;
border: dashed 5px;
}
.arrow-rthin
{
border-left-color:#fafafa;
}
.arrow-rthin s {
border-left-color:#1d5773;
left: -7px;
right:1px;
top: -5px;
}
s{
text-decoration: line-through;
color:transparent;
}
.arrow-rthin
{
right: 2px;
top: 5px;
margin-left:5px;
}
/*arrow-s-end*/


.ui-block .ui-block-content
{
width:100%;
padding:10px;
border:0;
}
.ui-block .ui-block-content table{
border: 0 none;
word-break:keep-all;
word-wrap:normal;
margin-bottom: 15px;
}
.ui-block .ui-block-content table div,.ui-block .ui-block-content table p
{
word-break: break-all;
word-wrap: break-word;
}

.ui-block .ui-block-content-lb {
    padding: 10px 10px 0 10px;
    background: #EDEFF1;
}

.ui-block .ui-block-content-lb table{
    background: transparent;
}

.ui-block-content-lb input,
.ui-block-content-lb select,
.ui-block-content-lb textarea,
.ui-block-content-lb td span{
    margin-right: 20px;
}
.ui-block-content-lb span{
    font-weight: bold;
}
.ui-block-content-lb td{
    padding:2px 0 2px 0;

}
.ui-block-content-lb .time-line20{
    padding-right:20px;	
}

.ui-block-content-lb .ui-loxia-default
{
background:#FFFFFF;
border:2px solid #CCCCCC;
border-radius:0;
padding:6px;
}
.ui-loxia-error, .ui-block-content-lb .ui-loxia-error 
{
border:1px solid red;
background:#FBDDDF;
}
.ui-block-content-lb .ui-loxia-active {
    border-color: #0d6780;
}
table.ui-block-content td,.ui-block .ui-block-content table td
{
vertical-align:middle;
}

.ui-loxia-hint td
{
padding:10px!important;
font-style:italic;
color:#767676;
}

.func-button:link,.func-button:visited
{
    color:#069;
    overflow:hidden;
    margin:0 10px 0 0;
    border-radius:12px;
    padding: 4px 8px;
}
.ui-loxia-simple-table .func-button:link,
.ui-loxia-simple-table .func-button:visited{
    margin:0;
}

.func-button:hover
{
    color:#fff;
    background:#27a1c5;
}

.func-button:active
{
    color:#ff6600;
    background:#0d6780;
}

.func-button label
{
display:inline-block;
width:16px;
height:16px;
margin:0 5px 0 0;
}
.ficon-true
{
background:url(../images/main/true.png) no-repeat 0 2px;
}


.ui-block-title1
{
width:100%;
padding:10px;
text-align:left;
font-weight:bold;
color:#fff;
background:#2d3033;
}
.ui-block
{
width:100%;
height:auto;
padding-bottom:10px;
}
.ui-block-fleft
{
    float:left;
    overflow-x:auto;
    box-sizing:content-box;
    margin-bottom:10px;
}
.w240 {
    width: 240px;
}
.ml240{
    margin-left: 240px;
    width: auto;
}
.ui-loxia-simple-table
{
width:100%;
height:auto;
border:0;
margin-bottom:10px;
}
.ui-block table
{
margin:0;
padding:0;
}
.ui-pyesno
{
display:inline-block;
width:14px;
height:14px;
border-radius: 2px;
text-indent:1000px;
}
.ui-pyesno-yes
{
background-color:#27A2C5;
}
.ui-pyesno-no
{
background-color:red;
}
.ui-pyesno-wait
{
background-color:#ffb060;
}
/*dashboard*/
.dashboard-new
{
width:700px;
overflow:hidden;
margin:0 auto;
padding:20px 40px 40px 40px;
box-shadow:5px 5px 15px #bbb;
}
.dashboard-new h1
{
display:block;
font-size:16px;
font-weight:normal;
padding:20px 0;
color:#069;
}
.dashboard-new .dash-table
{
width:100%;
overflow:hidden;
border-left:1px solid #dedede;
border-top:1px solid #dedede;
}
.dashboard-new .dash-table .dash-title
{
width:100%;
overflow:hidden;
padding:10px;
border-right:1px solid #dedede;
border-bottom:1px solid #dedede;
}
.dashboard-new .dash-table .dash-title h2
{
font-size:16px;
font-weight:normal;
}
.dashboard-new .dash-table table
{
width:100%;
}
.dashboard-new .dash-table tr td
{
border-right:1px solid #dedede;
border-bottom:1px solid #dedede;
padding:10px;
text-align:left;
vertical-align:middle;
}
.dashboard-new .dash-table tr .bg-grey
{
background:#efefef;
}

.dashboard
{
clear:both;
width:100%;
box-sizing:border-box;
padding:20px;
}
.dashboard-left
{
width:35%;
float:left;
overflow:hidden;
}
.dashboard-right
{
width:60%;
float:right;
overflow:hidden;
}

.ui-loxia-simple-table table
{
width:100%;
z-index:11;
}

.ui-loxia-simple-table table tr th
{
box-sizing:border-box;
text-align:center;
padding:0 0 0 10px;
height:60px;
background:#2d3033;
color:#fff;
text-align:left;
white-space:nowrap;
vertical-align:middle;
}
.ui-loxia-simple-table table tr th:hover
{
background:#27a2c5;
}
.ui-loxia-simple-table table tr th div{
    line-height: 60px;
}
.ui-loxia-simple-table table tr th span
{
background: url("../images/main/sort-up-down.png") repeat scroll 0 0 transparent;
cursor: pointer;
display: inline-block;
position:absolute;
top:0;
right:3px;
height: 60px;
width: 8px;
}
.ui-loxia-simple-table table tr th.sort-asc span
{
background:url(../images/main/sort-up.png) no-repeat 0 0;
}
.ui-loxia-simple-table table tr th.sort-desc span
{
background:url(../images/main/sort-down.png) no-repeat 0 0;
}

.ui-loxia-simple-table table tr td
{
box-sizing:border-box;
text-align:center;
padding:5px 0 5px 10px;
background:#fff;
text-align:left;
}
.ui-loxia-simple-table table .even td
{
background:#f1f1f1;
}
.ui-loxia-simple-table table tr:hover td
{
background:#f9f9d4;
}
.ui-loxia-simple-table table tr.selected td
{
background:#C5E0FA;
}
.ui-loxia-nav
{
width:100%;
overflow:hidden;
padding:5px;
}
.ui-loxia-nav select
{
display:inline;
float:left;
border:1px solid #ccc;
}
.ui-loxia-nav .refresh:link,.ui-loxia-nav .refresh:visited
{
display:inline-block;
width:32px;
height:32px;
float:right;
margin:5px 5px 0 5px;
background-image:url(../images/wmi/white/32x32/refresh.png);
background-repeat:no-repeat;
background-position:center center;
background-color:#0D6780;
cursor:pointer;
border-radius:5px;
}
.ui-loxia-nav .refresh:hover
{
background-color:#27A2C5;
}
.ui-loxia-nav .refresh:active
{
background-color:#2D3033;
}
.ui-loxia-table-title
{
font-size:20px;
color:#2d3033;
float:left;
line-height:40px;
}
.nav-pager
{
display:inline-block;
height:auto;
float:right;
overflow:hidden;
z-index:10;
margin:5px 0 0 0;
}
.nav-pager a:link,.nav-pager a:visited
{
display:inline-block;
float:left;
width:32px;
height:32px;
text-align:center;
line-height:32px;
margin:0 5px 0 0;
color:#2D3033;
font-weight:bold;
background:#eee;
font-size:15px;
font-weight:bolder;
text-indent:1000px;
transition:background 0.25s ease 0s;
}
.nav-pager a.home
{
background:url(../images/wmi/blue/32x32/sq_br_first.png) no-repeat center center;
}
.nav-pager a.home:hover
{
background:url(../images/wmi/lightblue/32x32/sq_br_first.png) no-repeat center center;
}
.nav-pager a.home:active
{
background:url(../images/wmi/blacks/32x32/sq_br_first.png) no-repeat center center;
}
.nav-pager a.prev
{
background:url(../images/wmi/blue/32x32/sq_br_prev.png) no-repeat center center;
}
.nav-pager a.prev:hover
{
background:url(../images/wmi/lightblue/32x32/sq_br_prev.png) no-repeat center center;
}
.nav-pager a.prev:active
{
background:url(../images/wmi/blacks/32x32/sq_br_prev.png) no-repeat center center;
}
.nav-pager a.next
{
background:url(../images/wmi/blue/32x32/sq_br_next.png) no-repeat center center;
}
.nav-pager a.next:hover
{
background:url(../images/wmi/lightblue/32x32/sq_br_next.png) no-repeat center center;
}
.nav-pager a.next:active
{
background:url(../images/wmi/blacks/32x32/sq_br_next.png) no-repeat center center;
}
.nav-pager a.end
{
background:url(../images/wmi/blue/32x32/sq_br_last.png) no-repeat center center;
}
.nav-pager a.end:hover
{
background:url(../images/wmi/lightblue/32x32/sq_br_last.png) no-repeat center center;
}
.nav-pager a.end:active
{
background:url(../images/wmi/blacks/32x32/sq_br_last.png) no-repeat center center;
}


.nav-pager a.disabled
{
cursor:default;
opacity:0.3;
}
.nav-pager a.disabled:hover,.nav-pager a.disabled:active
{

}
.nav-pager input[type="text"]
{
width:32px;
height:32px;
line-height:32px;
float:left;
margin-right:5px;
border:1px solid #ccc;
background:#fff;
cursor:text;
padding:4px;
text-align:center;
color:#2D3033;
border-radius:5px;
}
.nav-pager p
{
float:left;
line-height:20px;
color:#006799;
}
.nav-pager span
{
display:inline-block;
min-width: 32px;
height:32px;
line-height:32px;
text-align:center;
float:left;
background:#eee;
white-space:nowrap;
overflow:hidden;
border: 1px solid #ccc;
border-radius: 2px;
padding:0 10px 0 10px;
cursor: pointer;
}
.nav-pager .pagenum
{
border-right: 0;
border-bottom-right-radius: 0;
border-top-right-radius: 0;
background:url(../images/main/p.png) no-repeat right bottom #fcfcfc;
}
.nav-pager .recnum
{
border-left: 0;
border-bottom-left-radius: 0;
border-top-left-radius: 0;
background:url(../images/main/r.png) no-repeat right bottom #efefef;
}


.ui-poplist .current
{
clear:both;
display:inline;
color:#0D6780;
padding-right:14px;
background:url(../images/wmi/blue/16x16/sq_down.png) no-repeat right 3px;
background-size:10px 10px;
}
.ui-poplist ul
{
clear:both;
display:none;
position:absolute;
border-radius:7px;
left:-6px;
top:-6px;
}
.ui-poplist ul li
{
clear:both;
}

.ui-poplist ul li a:link,.ui-poplist ul li a:visited
{
display:inline-block;
width:100%;
padding:5px;
background:#fff;
color:#2D3033;
border-left:1px solid #2D3033;
border-right:1px solid #2D3033;
}
.ui-poplist ul li:first-child a
{
border-top:1px solid #2D3033;
border-radius:3px 3px 0 0;
}
.ui-poplist ul li:last-child a
{
border-bottom:1px solid #2D3033;
border-radius:0 0 3px 3px;
}
.ui-poplist ul li a:hover
{
background:#0D6780;
color:#fff;
}
.ui-poplist ul li a:active
{
background:#2D3033;
}


.ui-tag-change .tag-change-ul
{
width:100%;
box-sizing:border-box;
overflow:hidden;
z-index:1;
margin-bottom:-1px;
}
.ui-tag-change .tag-change-ul li
{
float:left;
box-sizing:border-box;
padding:8px 15px;
border-top:1px solid #27a1c5;
border-left:1px solid #27a1c5;
border-right:1px solid #27a1c5;
border-radius:2px 2px 0 0;
cursor:pointer;
background:#27a1c5;
color: #fff;
}
.ui-tag-change .tag-change-ul li a,
.ui-tag-change .tag-change-ul li a:hover,
.ui-tag-change .tag-change-ul li a.visited
{
    color: #fff;
}
.ui-tag-change .tag-change-ul .selected
{
border-top:1px solid #dedede;
border-left:1px solid #dedede;
border-right:1px solid #dedede;
background:#fff;
color: #000;
}
.ui-tag-change .tag-change-ul .selected a,
.ui-tag-change .tag-change-ul .selected a:hover,
.ui-tag-change .tag-change-ul .selected a.visited
{
    color: #fff;
}
.tag-change-content
{
width:100%;
box-sizing:border-box;
padding:10px;
border:1px solid #dedede;
background:#fff;
overflow:hidden;
margin:0 0 20px 0;
}
.tag-change-in
{
display:none;
}
.price-cate-num
{
clear:both;
width:100%;
padding:10px;
box-sizing:border-box;
border:1px solid #dedede;
border-radius:5px;
overflow:hidden;
}
.price-cate-num dd
{
width:25%;
float:left;
text-align:center;
}
.price-cate-num dd p
{
color:#ff6600;
font-size:18px;
padding:5px 0 0 0;
font-weight:bold;
}
/*dashboard-end*/

.content-box
{
display:block;
/*border:1px solid #0F6C9F;*/
height:auto;
overflow:hidden;
padding:10px;
background:#fff;
}
.notice
{
clear:both;
display:none;
position:fixed;
left:0;
top:100px;
width:100%;
height:auto;
overflow:hidden;
border-bottom:1px solid #ff962b;
background:#f9f9d4;
padding:10px 20px;
z-index:3;
}
.notice h5
{
width:100%;
height:32px;
line-height:32px;
padding:0 0 0 40px;
background:url(../images/wmi/blue/32x32/spechbubble_sq_line.png) no-repeat 0 center;
color:#333;
font-size:16px;
}
.notice p
{
padding:5px 0 0 0;
color:#111;
width:100%;
line-height:1.5;
}
.notice-alt
{
clear:both;
width:100%;
height:0px;
overflow:hidden;
background:url(../images/main/blank.gif);
}
.notice .cross
{
clear:both;
position:absolute;
width:21px;
height:21px;
background:url(../images/main/cross-ic.png) no-repeat center center;
cursor:pointer;
top:5px;
right:5px;
transition:background 0.25s ease 0s;
}
.notice .cross:hover{
background:url(../images/main/cross-ic-hover.png) no-repeat center center;
}
.notice .cross:active{
background:url(../images/main/cross-ic-active.png) no-repeat center center;
}



.error-information
{
clear:both;
width:100%;
height:auto;
overflow:hidden;
border:1px solid #F00;
background:#FEE0E4;
padding:10px;
z-index:3;
border-radius:4px;
margin:10px 0 0 0;
}
.error-information h5
{
width:100%;
height:25px;
line-height:25px;
padding:0 0 0 20px;
background:url(../images/main/false.png) no-repeat 0 center;
color:#900;
font-size:14px;
}
.error-information p
{
padding:5px 0 0 0;
color:#900;
width:100%;
line-height:1.5;
}
.error-fixed
{
position:fixed;
left:0px;
bottom:0px;
opacity:0.7;
border:0;
border-radius:0;
}


.ui-block-line
{
width:100%;
overflow:hidden;
display:block;
padding-top:7px;
}
.ui-block-line label
{
display:block;
box-sizing:content-box;
-moz-box-sizing:content-box;
float:left;
width:100px;
text-align:left;
padding:7px 20px 0 0;
overflow:hidden;
}
.ui-block-line>div{
    margin-left: 120px;
}
.ui-block-line>.ui-loxia-text{
	display: inline-block;
	 margin-left: 0;
	 width: 100px;
}
.ui-block-line .text{
	display:inline-block;
    padding:7px 10px 0 0;
}


.common-ic
{
display:inline-block;
width:16px;
height:16px;
overflow:hidden;
cursor:pointer;
transition:background-color 0.25s ease 0s;
margin-left:5px;
}
.common-ic:hover
{
opacity:0.6;
}
.common-ic:active
{
opacity:1;
}
.zoom-ic
{
background:url(../images/wmi/blacks/16x16/zoom.png) no-repeat 0 0;
}
.delete-ic
{
background:url(../images/wmi/blacks/16x16/delete.png) no-repeat 0 0;
}
.update-ic
{
background:url(../images/wmi/blacks/16x16/pencil.png) no-repeat 0 0;
}
/*
.ui-block-line input[type="radio"],.ui-block-line input[type="checkbox"]
{
float:left;
margin:7px 5px 0 0;
}


.ui-block-line .ui-button
{
display:inline-block;
font-size:12px;
height:24px;
line-height:24px;
padding:0 10px 0 10px;
}

.ui-block-line .orange
{
background:-webkit-gradient(linear, 0 0, 0 100%, from(#F8A721), to(#ff6600));
background:-moz-linear-gradient(top,#F8A721,#ff6600);
border:1px solid #ff6600;
color:#fff;
}
.ui-block-line .orange:hover
{
background:-webkit-gradient(linear, 0 0, 0 100%, from(#ff6600), to(#F8A721));
background:-moz-linear-gradient(top,#ff6600,#f8a721);
}
*/
.button-line
{
width:100%;
padding:10px;
text-align:right;
overflow:hidden;
}
.button-line1
{
    width:100%;
    padding:10px 10px 10px 0;
    overflow:hidden;
}

/*
.wl-right
{
width:200px;
float:left;
height:auto;
}
.wl-right p
{
width:70px;
float:left;
text-align:left;
line-height:24px;
margin:2px 5px 0 0;
}


.wl-right-auto
{
clear:both;
width:100%;
padding:5px;
border:1px solid #ccc;
overflow-y:scroll;
height:82px;
}
.wl-right-auto  input[type="checkbox"]
{
clear:both;
}
.wl-right-auto  p
{
width:80%;
}



.ui-block-line-37 .wl-right
{
width:70%;
}
.ui-block-line-19 .wl-right
{
width:90%;
}
*/

.warn-word
{
clear:both;
position:absolute;
line-height:24px;
color:red;
left:310px;
top:10px;
text-align:left;
width:100%;
white-space:nowrap;
}

.button-line .button
{
margin-left:5px;
}


.ui-widget-overlay { position: fixed; top: 0; left: 0; width: 100%; height: 100%;
    background: #efefef 50% 50% repeat; opacity:0.8;filter:Alpha(Opacity=80);
    z-index: 100;}

.loxiaOnion .inner{
 position:fixed!important; top: 0!important; left: 0; width: 100%; height: 100%;
 text-align:center;  z-index: 101;
 background:url(../images/main/285.gif) no-repeat center center;
}
.loxiaOnion .inner span
{
display: none;
}

.ui-loxia-number{text-align:right;}
.ui-loxia-number-active{text-align:left;}
.children-org{float:left; margin:0 10px 5px 0;}
.children-store{float:left; margin:0 5px 3px 5px; line-height:28px;}
.children-store input{margin:0 3px 0 0;}
.children-store-h{float:left; color:#0D6780; font-weight:bold; width:100px; margin:0 10px 0 0; line-height:28px;}

/*data*/
.menuContent
{
z-index:12;
}
.ui-datepicker
{
padding:10px;
box-shadow:1px 1px 4px #1D5773;
border-radius:4px;
background:#fff;
z-index:102!important;
}
.ui-datepicker-header
{
width:100%;
overflow:hidden;
}
.ui-datepicker-header .ui-datepicker-prev,.ui-datepicker-header .ui-datepicker-next
{
color:#006699;
cursor:pointer;
margin:0 6px 0 0;
}
.ui-datepicker-header .ui-datepicker-title
{
display:inline;
}
.ui-datepicker-header select
{
margin:0 0 0 7px;
}
.ui-datepicker-header .ui-state-hover
{
background:none;
text-decoration:underline;
}
.ui-datepicker-calendar
{
width:100%;
}
.ui-datepicker-calendar th,.ui-datepicker-calendar td
{
text-align:center;
padding:2px;
}
.ui-state-hover
{
background:#dedede;
}
.ui-datepicker-calendar .ui-state-default
{
display:inline-block;
width:23px;
height:23px;
text-align:center;
line-height:23px;
background:#D9ECFD;
border:1px solid #006699;
border-radius:4px;
color:#006699;
}
.ui-datepicker-calendar .ui-state-hover
{
background:#006699;
color:#fff;
}
#ui-datepicker-div{display:none;}
.ui_tpicker_hour,.ui_tpicker_minute
{
width:100%;
height:10px;
border:1px solid #006699;
background:#D9ECFD;
margin:2px 0 2px 0;
border-radius:3px;
}
.ui_tpicker_hour .ui-slider-handle,.ui_tpicker_minute .ui-slider-handle
{
position:absolute;
box-sizing:border-box;
width:15px;
height:15px;
border:1px solid #006699;
background: -webkit-gradient(linear, 0 0, 0 100%, from(#D9ECFD), to(#006699));
background:-moz-linear-gradient(top,#D9ECFD,#006699);
left:-3px;
top:-3px;
outline:none;
border-radius:3px;
}


.ui-datepicker .ui-datepicker-buttonpane button
{
float: right;
margin:0.5em 0.2em 0.4em 0.2em;
cursor: pointer;
padding:0.2em 0.6em 0.3em 0.6em;
width: auto;
overflow: visible;
border:1px solid #006699;
border-radius:4px;
color:#006699;
background:#D9ECFD;
}
.ui-datepicker .ui-datepicker-buttonpane button.ui-datepicker-current {
float: left;
}
.ui-datepicker .ui-datepicker-buttonpane .ui-state-hover
{
color:#ffffff;
background:#006699;
}
/*data-end*/


/*login*/
.login-bg
{
clear:both;
width:100%;
background:url(../images/main/login-bg.jpg) no-repeat center center #000;
height:100%;
text-align:center;
padding:0;
margin:0;
}
.login-bg.content
{
padding:0;
}
.login-bg.content .notice
{
top:0;
}
.login
{
display:inline-block;
width:400px;
overflow:hidden;
padding:10px 20px 20px 20px;
border-radius:4px;
box-shadow:0 0 10px #000;
background:#fff;
margin:0 auto;
}
.login h5
{
clear:both;
width:100%;
font-size:20px;
padding:10px;
text-align:center;
}
.login .login-line
{
clear:both;
width:100%;
padding:5px 0 0 0;
}
.login .login-line label
{
display:block;
float:left;
width:85px;
line-height:27px;
text-align:right;
margin-right:5px;
}
.login .login-line input[type='button'],.login .login-line input[type='submit']
{
display:inline-block;
height:35px;
text-align:center;
line-height:35px;
border-radius:3px;
border:1px solid #aaa;
color:#767676;
padding:0 20px 0 20px;
background:-webkit-gradient(linear, 0 0, 0 100%, from(#f3f3f3), to(#dfdfdf));
background:-moz-linear-gradient(top,#f3f3f3,#dfdfdf);
cursor:pointer;
font-size:12px;
}
.login .login-line input[type='button']:hover,.login .login-line input[type='submit']:hover
{
background:-webkit-gradient(linear, 0 0, 0 100%, from(#dfdfdf), to(#f3f3f3));
background:-moz-linear-gradient(top,#dfdfdf,#f3f3f3);
}
.login .login-line input[type='button'].orange,.login .login-line input[type='submit'].orange
{
background: -webkit-gradient(linear, 0 0, 0 100%, from(#F8A721), to(#ff6600));
background: -moz-linear-gradient(top,#F8A721,#ff6600);
border: 1px solid #ff6600;
color: #fff;
}
.login .login-line input[type='button'].orange:hover,.login .login-line input[type='submit'].orange:hover
{
background: -webkit-gradient(linear, 0 0, 0 100%, from(#ff6600), to(#F8A721));
background: -moz-linear-gradient(top,#ff6600,#F8A721);
}
/*login-end*/


/*error-page*/
.error-page
{
clear:both;
display:none;
width:90%;
overflow:hidden;
margin:0 auto;
text-align:center;
}
.error-page h1
{
display:inline-block;
height:100px;
overflow:hidden;
line-height:100px;
font-size:80px;
font-weight:bold;
text-align:center;
padding:0 0 0 120px;
background:url(../images/main/error-warm.png) no-repeat 0 0;
}
.error-page p
{
clear:both;
width:100%;
line-height:1.5;
padding:20px 0 0 0;
font-size:14px;
border-radius:4px;
}
.error-page p a:link,.error-page p a:visited
{
color:red;
text-decoration:underline;
}
.error-detail
{
clear:both;
width:100%;
line-height:1.5;
display:none;
text-align:left;
border:1px solid red;
margin:20px 0 20px 0;
padding:20px;
background:#FEE0E4;
}
/*error-page-end*/


.percent30-content-left
{
width:310px;
float:left;
overflow-x:auto;
padding:0 20px 10px 10px;
box-sizing:content-box;
margin-bottom:10px;
}
.percent70-content-right
{
float:left;
padding:0 0 10px 20px;
margin-bottom:10px;
}
.border-right-dashed
{
border-right:1px dashed #ccc;
}
.type-content
{
width:350px;
overflow:hidden;
color:#111;
padding:10px;
background:#efefef;
border:1px solid #ccc;
border-radius:4px;
}
.type-content-line
{
clear:both;
width:100%;
padding:10px 0 0 0;
}
.type-content-line input
{
margin:0 5px 0 0;
}

.list-all
{
clear:both;
width:100%;
}
.list-all li
{
clear:both;
width:100%;
overflow:hidden;
border:1px solid #dedede;
padding:10px;
background:#eeeeee;
cursor:pointer;
margin:5px 0 0 0;
}
.list-all li:hover
{
border:1px solid #1d5773;
}
.list-all li.selected
{
background:#D9ECFD;
}
.list-all li span
{
display:inline-block;
overflow:hidden;
}
.list-all li .num
{
margin:0 10px 0 0;
}
.list-all li .id
{
display:none;
}
.list-all li .text
{
width:90px;
white-space:nowrap;
}
.list-all li .type
{
margin:0 0 0 10px;
color:#69C;
}
.list-all li .state
{
display:none;
}
.list-all li em
{
clear:both;
position:absolute;
width:20px;
height:20px;
background:url(../images/wmi/blue/16x16/trash.png) no-repeat center center;
top:7px;
right:5px;
cursor:pointer;
}
.list-all li em:hover
{
background:url(../images/wmi/lightblue/16x16/trash.png) no-repeat center center;
}
.list-all li em:active
{
background:url(../images/wmi/blacks/16x16/trash.png) no-repeat center center;
}
.list-all .list-element
{
background:#ffffff;
}
.new-list-add
{
clear:both;
width:100%;
border:1px dashed #dedede;
margin:10px 0 0 0;
padding:3px 1px 3px 1px;
text-align:right;
cursor:pointer;
background:#f5f5f5;
}
.new-list-add:hover
{
border:1px dashed #1d5773;
}


/*dialog*/
.proto-dialog
{
display:none; 
margin:0 auto;
width:550px;
height:auto;
overflow:hidden;
padding:10px;
background:#fff;
box-shadow:0 0 10px #000;
border-radius:10px;
}
.proto-dialog h5
{
display:block;
clear:both;
width:100%;
height:42px;
line-height:42px;
text-align:center;
font-size:17px;
font-weight:bold;
background:#dedede;
margin-bottom:5px;
cursor:pointer;
border-radius:10px;
}
.proto-dialog .proto-dialog-content
{
width:100%;
overflow-x:hidden;
overflow-y:auto;
line-height:1.5;
}
.proto-dialog .proto-dialog-button-line
{
clear:both;
width:100%;
height:37px;
overflow:hidden;
text-align:center;
padding:10px 0 10px 0;
box-sizing:content-box;
-moz-box-sizing:content-box;
}
.dialog-close
{
clear:both;
position:absolute;
width:21px;
height:21px;
text-align:center;
line-height:20px;
font-weight:bold;
right:30px;
top:18px;
cursor:pointer;
text-indent:1000px;
background:url(../images/main/cross-ic.png) no-repeat center center;
}
.dialog-close:hover
{
background:url(../images/main/cross-ic-hover.png) no-repeat center center;
}
.dialog-close:active
{
background:url(../images/main/cross-ic-active.png) no-repeat center center;
}

#msg-confirm{z-index:5;}
/*dialog-end*/

.blue
{
color:#069!important;
}
.red
{
color:red!important;
}
.grey
{
color:#767676!important;
}
.lightgrey
{
color:#ccc!important;
}
.yellow
{
color:#c4a126!important;
}
.color-select-img
{
width:100px;
height:auto;
}
.color-select-line
{
width:100%;
overflow:hidden;
padding:8px 0 0 0;
}
.color-select-line input
{
float:left;
}
.color-select-line a
{
float:left;
margin-top:2px!important;
}
.color-select-line .up-ic
{
margin:3px 0 0 8px;
}
.color-select-line .down-ic
{
margin:5px 0 0 5px;
}
.up-ic
{
background:url(../images/wmi/blacks/16x16/arrow_top.png) no-repeat 0 0;
}
.down-ic
{
background:url(../images/wmi/blacks/16x16/arrow_bottom.png) no-repeat 0 0;
}
.color-select-add
{
display:block;
width:360px;
height:32px;
overflow:hidden;
background:url(../images/wmi/blacks/32x32/sq_plus.png) no-repeat right 0;
}
.color-select-add:hover
{
opacity:0.7;
filter:alpha(opacity=70);
}
.color-select-add:active
{
opacity:1;
filter:alpha(opacity=100);
}
.color-select-line .fileupload
{
display:block;
clear:both;
position:absolute;
left:163px;
top:6px;
z-index:1;
width:45px;
height:28px;
overflow:hidden;
background:transparent;
border:0;
opacity: 0;
}
.color-select-line label div p span,.color-select-line label div p button,.color-select-line label div p br
{
display:none;
}




.product-star-content
{
display:inline-block;
width:90px;
margin:5px 5px 0 0;
overflow:hidden;
}
.product-star-content .product-star
{
display:inline-block;
width:16px;
height:16px;
float:left;
overflow:hidden;
margin-right:2px;
background:url(../images/star.png) no-repeat 0 -16px;
}

.arrow_down
{
	margin-left: 20px;
}
.first
{
	margin-left: 40px;
}
.disable
{
	color: #87888A;
}
.chooseOptionDesc
{
	position: absolute;
	z-index: 50;
	background-color: #fff;
	border-style:solid; 
	border-width:1px;
	border-bottom-color: #2D3033;
	border-left-color: #2D3033;
	border-right-color: #2D3033;
	padding: 4px 4px 4px 4px;
	font-size: 12px;
	float:right;
}
.chooseOptionCurrent
{
	background-color: #0D6780;
	padding: 0px;
	color: #fff;
    margin-bottom: 4px;
    font-size: 13px;
}
.chooseOptionDesc ul 
{
	line-height: 1.4;
}
.chooseOptionDesc ul li
{
	margin: 8px 0 ;
}
.noImage
{
	margin-left: 125px;
	font-size: 15px
}
.img-float
{
width:180px;
height:220px;
overflow:hidden;
float:left;
padding:30px 20px;
border:1px solid #dedede;
box-sizing:content-box;
-moz-box-sizing:content-box;
text-align:center;
margin:10px;
}
.mc-img-tb
{
width:180px;
}
.mc-img-tb td
{
width:180px;
height:180px;
background:#fff;
text-align:center;
vertical-align:middle;
}
.if-control-c
{
position:absolute;
width:100%;
overflow:hidden;
left:0;
top:0;
z-index:10;
}
.ifc-button:link,.ifc-button:visited
{
display:inline-block;
padding:5px;
background:#dedede;
color:#333;
float:left;
border-right:1px solid #eee;
}
.ifc-button:hover
{
background:#000;
color:#fff;
}
.text-float
{
width:540px;
overflow:hidden;
padding:10px 0 0 0;
}
.unselect
{
-moz-user-select:none;
-webkit-user-select:none;
user-select:none;
}
.cursor-pointer
{
cursor:pointer;
}
.cursor-hand
{
background: url("/images/wmi/blacks/16x16/cursor_hand.png") no-repeat;
width: 16px;
height: 16px; 
cursor:pointer;
-moz-user-select:none;
-webkit-user-select:none;
user-select:none;
}
}
.bank
{
width:100%;
}
.bank dt
{
clear:both;
width:100%;
overflow:hidden;
padding:0 0 20px 0;
color:#5b5b5b;
box-sizing:content-box;
-moz-box-sizing:content-box;
-ms-box-sizing:content-box;
}
.bank dd
{
width:140px;
height:32px;
float:left;
overflow:hidden;
margin-right:20px;
padding-bottom:20px;
cursor:pointer;
box-sizing:content-box;
-moz-box-sizing:content-box;
-ms-box-sizing:content-box;
}
.bank dd .inform-check
{
float:left;
margin:9px 10px 0 0;
}
.bank dd img
{
float:left;
border:1px solid #ddd;
padding:5px;
}
.bank dd.selected img
{
border:1px solid red;
}

.page-instance-add-area-html
{
width: 760px;
margin:0 10px;
height: 370px;
}
.item-list-table-status
{
	margin: 0 20px 0 4px;
}


/*add-item && update-item style*/
.ui-subtitle{
	padding-bottom: 10px;
}
.ui-block-title{
	background: #fff;
    color: #000;
}
.i18n-lang{
	display: none;
}
.baseInfo input, .baseInfo textarea{
	width: 600px;
}
.baseInfo .none{
	display:none;
}
.baseInfo .codetip{
	padding: .3em .7em; 
	width: auto;
}

.Category-line .categories-tips{
	float: right; 
	margin-right: 1000px;
}
.Category-line .del{
	text-decoration: underline; 
	color: #F8A721
}
.menulayer{
	display:none; 
	position: absolute; 
	background-color:#f0f6e4;
	border: 1px solid #617775;
	padding:3px;
}
.menulayer ul.ztree{
	margin-top:0; 
	width:auto; 
	height: 100%;
}
.sale-price input, .sale-list input{
	width: 160px; 
	height: 25px;
}
.propertyInfo input[type='text']{
	width:600px;
}
.propertyInfo areatext{
	width:600px;
	height:45px;
}
.propertyInfo select{
	width: 160px; 
	height: 25px
}
.propertyInfo .property-tips{
	margin: 17px 0 0 10px; 
	position: absolute;
}
.none-normal{
	display:none;
}
.pro-describe textarea{
	width:600px;
}
.pro-describe .describe-con{
	float: left; 
	margin-left: 0px
}
.pro-describe .describe-tips{
	display: block; 
	float: left;
}
.seo-info input[type='text'], .seo-info textarea{
	width: 600px;
}
.chooseLine .choose-tips{
	float: right; 
	margin-right: 760px; 
	text-decoration: underline; 
	color: #F8A721
}
.select-pro-layer dl, .select-style-layer dl{
	display:table;
}
.select-pro-layer dt , .select-style-layer dt{
	display:table-cell;
	width:60px;
	height:60px;
}
.select-pro-layer dt img , .select-style-layer dt img{
	width:100%;
	vertical-align:middle;
}
.select-pro-layer dd , .select-style-layer dd{
	display:table-cell;
}
