<web-app xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee
    http://java.sun.com/xml/ns/j2ee/web-app_2_5.xsd"
	version="2.5">

	<display-name>nebula-ollapsar</display-name>
<!--   <context-param>  
    <param-name>nebula.plugin.path</param-name>  
    <param-value>D:/pluginPath/</param-value>  
  </context-param> 
  <context-param>  
    <param-name>nebula.repository.plugin.path</param-name>  
    <param-value>/jar/plugin/</param-value>  
  </context-param> --> 

	<!-- ********************************** Spring ********************************** -->
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>
			classpath*:loxia-hibernate-context.xml
			classpath*:loxia-service-context.xml
			classpath*:spring.xml
		</param-value>
	</context-param>
	<context-param>
		<param-name>spring.profiles.active</param-name>
		<param-value>dev</param-value>
	</context-param>
	
	<context-param>
		<param-name>logbackConfigLocation</param-name>
		<param-value>classpath:config/${spring.profiles.active}/logback.xml</param-value>
	</context-param>
	<!-- ********************************** listener ********************************** 
	-->
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
	<listener>
		<listener-class>com.baozun.nebula.collapsar.web.listener.QSMessageSubscribeListener</listener-class>
	</listener>
	<listener>
		<listener-class>org.springframework.web.context.request.RequestContextListener</listener-class>
	</listener>
	<listener>
		<listener-class>org.springframework.security.web.session.HttpSessionEventPublisher</listener-class>
	</listener>
</web-app>
